<div class="verify-email-body">
  <div class="container">
    <div class="content-wrapper">
      <div class="card-wihtout-header-blue verify-email-card">
        <div class="logo">
          <img src="./assets/images/logo.png" class="img-fluid" />
        </div>
        <h3 class="title">Reset Password Link Sent</h3>
        <p class="sub-info">We sent an email with a link to reset your password to 
          xyz@gmail.com</p>
        <div class="email-body">
          <h6>Didn’t receive the mail?</h6>

          <p class="instructions">Sometimes, the email may go to your 
          notifications or bulk folder.</p>

          <p class="instructions"> To find the email search for Chef Koochooloo 
            Account Verification in your inbox</p>

          <p class="instructions"> Click on the ‘Resend’ button to resend link. </p>
        </div>
        <div class="mail-btn-wrapper">
          <app-button classes="btn btn-secondary login-return-btn" [submit]="true">
            <span aria-hidden="true">Return to
              Login</span>
          </app-button>
          <app-button classes="btn btn-primary btn-resend" [submit]="true">
            <span aria-hidden="true">Resend</span>
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>

