@import "../../../../../assets/styles/helpers/variables";
@import "../../../../../assets/styles/helpers/mixins";

.order-ingredients{
    .header-wraper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 4rem 0 2rem;
        @include breakpoint(tabs){
            justify-content: center;
        }
        .heading-wraper{
            display: flex;
            align-items: center;
            @include breakpoint(tabs){
                margin-bottom: 2rem;
            }
            .heading{
                margin: 0;
                @include breakpoint(tabs){
                    text-align: center;
                }
                @include breakpoint(xtrasmallmobile){
                    font-size: 2.5rem;
                }
            }
        }
        .right-wraper{
            display: flex;
            align-items: center;
            padding: 1rem 2.5rem;
            background: $white-transferent;
            border-radius: 2rem;
            margin-left: 0.5rem;
            .cart-logo{
                padding: 0 1rem;
                color: $yellow-shade-6;
                font-size: 1.5rem; 
            }
            .cart-text{
                color: $yellow-shade-6;
                font-size: 1.5rem;
                font-weight: 700;
            }
            .cart-index{
                margin: 0 1rem;
                background: $yellow-shade-6;
                color: $black;
                font-size: 1.5rem;
                font-weight: 700;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                border: 0.3rem solid $black;
                text-align: center;
            }
        }
    }
    .dew-date-wraper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 3rem 0;
        @include breakpoint(tabs){
            justify-content: center;
        }
        .dew-date{
            @include breakpoint(tabs){
                margin-bottom: 2rem;
            }
            .dew-date-heading{
                margin: 0;
                margin-bottom: 1rem;
                @include breakpoint(tabs){
                    text-align: center;
                }
            }
            .dew-date-text{
                padding: 1rem 0;
                font-size: 1.3rem;
                font-weight: 700;
                @include breakpoint(tabs){
                    display: inline-block;
                    text-align: center;
                }
            }
        }
        .dew-date-right{
            display: flex;
            align-items: center;
            padding: 1rem 3rem;
            background: $white-transferent;
            border-radius: 2rem;
            border: 0.1rem solid $yellow-shade-7;
            margin-left: 0.5rem;
            .exclamation-logo{
                font-size: 2.4rem;
                font-weight: 700;
                color: $yellow-shade-6;
            }
            .dew-date-right-text{
                max-width: 29rem;
                font-size: 1.4rem;
                font-weight: 700;
                margin: 0 2rem;
            }
            .dew-date-right-hightlight{
                font-size: 1.6rem;
                font-weight: 700;
                color: $yellow-shade-6;
            }
        }
    }
    .ingredient-item{
        margin: 6rem 0;
        .ingredient-wraper{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .ingredient-block{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                background-color: #4066cb;
                min-width: 20rem;
                flex: 0 0 calc((100% - 10rem) / 5);
                border: 0.1rem solid $border-color;
                border-radius: 2rem;
                padding: 0 2rem;
                margin: 0 1rem 5rem;
                .verified-wraper{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .verified-text{
                        position: relative;
                        .info-circle{
                            // display: inline-block;
                            // transform: translate(8.5rem, 0);
                            position: absolute;
                            right: -11.5rem;
                            @include breakpoint(tabs){
                                right: -10.5rem;
                            }
                            @include breakpoint(mobile){
                                right: -10.5rem;
                            }
                        }
                        fa-icon{
                          font-size: 2.5rem;
                          color: $secondary;
                        }
                        .exclamation{
                            position: absolute;
                            left: -10rem;
                            top: 1rem;
                            @include breakpoint(tabs){
                                left: -9rem;
                                top: 1rem;
                            }
                            @include breakpoint(mobile){
                                left: -9rem;
                                top: 1rem;
                            }
                            fa-icon{
                                font-size: 1.4rem;
                            }
                        }
                      }
                    .ingredient-image{
                        max-width: 7rem;
                        margin: 1rem 0;
                        margin-top: 4rem;
                        img{
                            height: 7rem;
                        }
                    }
                    .substitute{
                        margin: 0.5rem 0;
                        height: 1.5rem;
                        .exchange{
                            width: 2rem;
                            height: 2rem;
                            border-radius: 50%;
                            border: 0.1rem solid $yellow-shade-5;
                            margin: 0 0.5rem;
                            fa-icon{
                                color: $yellow-shade-5;
                                font-size: 1rem;
                                margin: 0.2rem;
                            }
                        }
                        .substitute-link{
                            font-weight: 600;
                            text-decoration: underline;                      
                            font-size: 1.1rem;
                        }
                    }
                }
                
                .ingreditent-info{
                    .title-wraper{ 
                        display: flex;
                        align-items: flex-end;
                        // min-height: 5rem;
                        .title{
                            text-align: center;
                        }
                    }
                    .price-wraper{
                        display: flex;
                        justify-content: center;
                        margin: 0.5rem 0;
                        .price{
                            text-align: center;
                            font-size: 1.1rem;
                            font-weight: 700;
                        }
                    }
                }
                .ingredient-btn-wrapper{
                    transform: translate(0, 50%);
                }
            }
        }
    }
}

// pop-up //

.substitute-header{
    margin: 0 auto;
    h4{
        margin: 0;
    }
    &.modal-header{
      border-bottom: none;
      .close{
        @include breakpoint(mobile){
          width: 6rem;
        }
      }
      h4{
        @include breakpoint(tabs){
          font-size: 2.6rem;
         }
        @include breakpoint(mobile){
         font-size: 2rem;
        }
      }
    }
  }
  .substitute-footer{
    &.modal-footer{
      border-top: none;
      justify-content: center;
    }
  }
  .substitute-body{
    text-align: center;
    .substitute-img{
      max-width: 9.6rem;
      margin: 0 auto;
    }
    h6{
      padding-top: 2rem;
      @include breakpoint(mobile){
        font-size: 1.6rem;
       }
    }
  }

  // pop-up order-details //

  .order-header{
    border-bottom: none;
    .close{
      @include breakpoint(mobile){
        width: 6rem;
      }
    }
  }
  .order-footer{
    &.modal-footer{
      border-top: none;
      justify-content: center;
    }
  }

  .order-body{
      @include breakpoint(xtrasmallmobile){
          padding: 0;
      }
    .table{
        color: $white;
        border: 0.1rem solid $border-color;
        th,td{
            padding: 2.3rem;
            max-width: 14rem;
            @include breakpoint(xtrasmallmobile){
                padding: 0.6rem;
            }
        }
        th{
            text-align: center;
            border-top: 0.1rem solid $border-color;
            
        }
        .order-item{

            .order-image{
                display: inline-block;
                width: 3rem;
            }
            .item-name{
                margin-left: 1rem;
                font-weight: 700;
                font-size: 1.4rem;
                @include breakpoint(xtrasmallmobile){
                    font-size: 1.1rem;
                }
            }
        }
        .order-quantity{
            font-weight: 700;
            vertical-align: middle;
            .order-count{
                width: 3rem;
                display: inline-block;
                text-align: center;
            }
            .plus{
                color: #000000;
                font-size: 1.6rem;
                font-weight: 700;
                background: $ring-yellow;
                display: inline-block;
                text-align: center;
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                margin: 0 1rem;
                line-height: 2.5rem;
                @include breakpoint(xtrasmallmobile){
                    font-size: 1.4rem;
                    padding: 0 0.6rem;
                    margin: 0;
                }
                &.minus{
                    line-height: 2rem;
                }
            }
        }
        .price{
            vertical-align: middle;
            font-weight: 700;
        }
        .price:last-child {
            border-left:none;
        }
        .total{
            font-weight: 700;
            text-align: right;
            padding-right: 5rem;
            border-right: none;
        }
    }
  }