<div class="explore-lessons">
    <div class="container-fluid">
        <div class="btn-top">
            <app-button classes="btn btn-secondary small-btn icon-btn mb-3" (click)="OnBackClick()">
                <fa-icon [icon]="leftarrow"></fa-icon><span aria-hidden="true">Back</span>
            </app-button>
        </div>
        <div class="d-flex">
            <div class="left-col">
                <aside class="lesson-filter active">
                    <fa-icon [icon]="FilterArrow" class="filterArrow" ></fa-icon>
                    <app-explore-lessons-sidebar></app-explore-lessons-sidebar>
                </aside>
            </div>
            <div class="right-col">
                <div class="explore-search">
                    <!-- <div class="search-by">
                        <app-drop-down class="performance" [dropDownButtonName]="searchBy" [dropDownIcon]=""
                            [dropDownItemList]="searchByList" (registerDropdownValueChange)="searchByChange($event)">
                        </app-drop-down>
                    </div> -->
                    <div>
                        <fa-icon [icon]="SearchIcon"></fa-icon>
                        <input class="form-control" type="text" name="term" (keyup)="searchLesson($event)"
                            placeholder="{{'teacher.explore-lessons.search-explore-lesson-placeholder'|translate }}" />
                    </div>
                </div>
                <div *ngIf="lessonType === 'all' " class="lessonList"
                [ngClass]="{'': classApplied, 'noSideBar':!classApplied }">
                <div class="heading-wraper">
                    <h5 class="subtitle">{{'teacher.explore-lessons.all'|translate}}</h5>
                </div>
                <div class="row">
                    <div class="main-card col-lg-4 col-sm-6" *ngFor="let item of allLessonList| filter: term; let i = index">
                        <div class="lessonList__item">
                            <div class="lessonList__image">
                                <img [src]="item.recipe?.recipeImage" alt="" class="img-fluid" />
                                <div class="grade">
                                    <span class="grade-fix">{{'school.class.add-class.grade-field' | translate |
                                        uppercase}}</span>
                                    <span class="grade-std">{{item.grade.grade}}</span>
                                </div>
                            </div>
                            <div class="lessonList__info">
                                <div class="lessonList__info__left">
                                    <h4 class="lessonList__title">{{item.recipe?.recipeTitle}}</h4>
                                    <div class="lessonList__time">
                                        <label>{{'student.assigned-lessons.duration'| translate }}: </label>
                                        <strong class="lessonList__time"> {{item.lessonTime}} minutes</strong>
                                    </div>
                                </div>
                                <div class="lessonList__info__right">
                                    <span *ngIf="item?.rating" class="rating">{{ item?.rating }}<fa-icon [icon]="Star"></fa-icon></span>
                                    <span class="bookmark" [class.active]="item.bookmark">
                                        <span (click)="bookmarkClass(item)">
                                            <fa-icon [icon]="BookmarkIcon" class="addBookmark"></fa-icon>
                                            <ng-template [ngIf]="item.bookmark">
                                                <fa-icon [icon]="BookmarkIcon"></fa-icon>
                                            </ng-template>
                                        </span>
                                    </span>
                                </div>
                                <div class="lessonList__btns">
                                    <app-button classes="btn btn-primary small-btn" [submit]="true"
                                        (click)="open(create,item)">
                                        <span
                                            aria-hidden="true">{{'teacher.explore-lessons.assign'|translate}}</span>
                                    </app-button>
                                    <a (click)="onInfoClick(item,i)">{{'district.district-schools.info-title' |
                                        translate}} <fa-icon [icon]="RightArrow"></fa-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showInfo == i+1"
                            [ngClass]="{'lesson-subcard': classApplied, 'lesson-subcard-withoutside':!classApplied }">
                            <div class="moreInfo">
                                <div class="moreInfo__header">
                                    <h2 class="moreInfo__title">{{resultLessonInfo.recipe?.recipeTitle}}</h2>
                                    <ul class="moreInfo__tags">
                                        <li>{{resultLessonInfo.recipe.country?.countryName}}</li>
                                        <li>{{lessonTime}}
                                            {{'teacher.assignment.min-label'| translate }}</li>
                                    </ul>
                                </div>
                                <ul class="moreInfo__primary">

                                    <li>
                                        <label>{{'school.class.add-class.grade-field' | translate}}: </label>
                                        <strong>{{resultLessonInfo.grade.grade}}</strong>
                                    </li>
                                    <!-- <li>
                                        <label>{{'teacher.explore-lessons.languages'|translate}}:</label>
                                        <strong>{{resultLessonInfo.language?.language}}</strong>
                                    </li> -->
                                    <li>
                                        <label>{{'teacher.explore-lessons.full'|translate}}
                                            {{'student.assigned-lessons.duration'| translate }}:</label>
                                        <strong> {{lessonTime}} minutes</strong>
                                    </li>
                                </ul>
                                <div class="moreInfo__secondary">
                                    <div class="moreInfo__secondary__left">
                                        <h6>{{'teacher.explore-lessons.learning-objective'|translate}}</h6>
                                        <ol class="numbers-list">
                                            {{resultLessonInfo?.learningObjectivesForStudent}}
                                        </ol>
                                        <h6>{{'student.assigned-lessons.lesson-steps.summary-view.ingredients'|
                                            translate }}</h6>
                                        <p>{{ingrdients}}</p>

                                        <h6>{{'teacher.explore-lessons.equipments'|translate}}</h6>
                                        <p>{{equipments}}</p>

                                    </div>
                                    <div class="moreInfo__secondary__right">
                                        <h6>{{'school.class.add-class.standards-field'|translate}}</h6>
                                        <p class="underline">{{resultLessonInfo.standards}}</p>
                                    </div>
                                </div>
                                <div class="moreInfo__btns">
                                    <app-button classes="btn btn-primary small-btn" (click)="onCancel()"
                                        [submit]="true">
                                        <span aria-hidden="true">{{'common.cancel'| translate}}</span>
                                    </app-button>
                                    <app-button classes="btn btn-black small-btn ml-3"
                                        (click)="openAssignModal(create,itemInfo)" [submit]="true">
                                        <span
                                            aria-hidden="true">{{'teacher.explore-lessons.assign'|translate}}</span>
                                    </app-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div *ngIf="lessonType === 'lessonFeatured' " class="lessonList"
                    [ngClass]="{'': classApplied, 'noSideBar':!classApplied }">
                    <div class="heading-wraper">
                        <h5 class="subtitle">{{'teacher.explore-lessons.featured'|translate}}</h5>
                    </div>
                    <div class="row">
                        <div class="main-card col-lg-4 col-sm-6" *ngFor="let item of lessonList| filter: term; let i = index">
                            <div class="lessonList__item">
                                <div class="lessonList__image">
                                    <img [src]="item.recipe?.recipeImage" alt="" class="img-fluid" />
                                    <div class="grade">
                                        <span class="grade-fix">{{'school.class.add-class.grade-field' | translate |
                                            uppercase}}</span>
                                        <span class="grade-std">{{item.grade.grade}}</span>
                                    </div>
                                </div>
                                <div class="lessonList__info">
                                    <div class="lessonList__info__left">
                                        <h4 class="lessonList__title">{{item.recipe?.recipeTitle}}</h4>
                                        <div class="lessonList__time">
                                            <label>{{'student.assigned-lessons.duration'| translate }}: </label>
                                            <strong class="lessonList__time"> {{item.lessonTime}} minutes</strong>
                                        </div>
                                    </div>
                                    <div class="lessonList__info__right">
                                        <span *ngIf="item?.rating" class="rating">{{ item?.rating }}<fa-icon [icon]="Star"></fa-icon></span>
                                        <span class="bookmark" [class.active]="item.bookmark">
                                            <span (click)="bookmarkClass(item)">
                                                <fa-icon [icon]="BookmarkIcon" class="addBookmark"></fa-icon>
                                                <ng-template [ngIf]="item.bookmark">
                                                    <fa-icon [icon]="BookmarkIcon"></fa-icon>
                                                </ng-template>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="lessonList__btns">
                                        <app-button classes="btn btn-primary small-btn" [submit]="true"
                                            (click)="open(create,item)">
                                            <span
                                                aria-hidden="true">{{'teacher.explore-lessons.assign'|translate}}</span>
                                        </app-button>
                                        <a (click)="onInfoClick(item,i)">{{'district.district-schools.info-title' |
                                            translate}} <fa-icon [icon]="RightArrow"></fa-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="showInfo == i+1"
                                [ngClass]="{'lesson-subcard': classApplied, 'lesson-subcard-withoutside':!classApplied }">
                                <div class="moreInfo">
                                    <div class="moreInfo__header">
                                        <h2 class="moreInfo__title">{{resultLessonInfo.recipe?.recipeTitle}}</h2>
                                        <ul class="moreInfo__tags">
                                            <li>{{resultLessonInfo.recipe.country?.countryName}}</li>
                                            <li>{{lessonTime}}
                                                {{'teacher.assignment.min-label'| translate }}</li>
                                        </ul>
                                    </div>
                                    <ul class="moreInfo__primary">

                                        <li>
                                            <label>{{'school.class.add-class.grade-field' | translate}}: </label>
                                            <strong>{{resultLessonInfo.grade.grade}}</strong>
                                        </li>
                                        <!-- <li>
                                            <label>{{'teacher.explore-lessons.languages'|translate}}:</label>
                                            <strong>{{resultLessonInfo.language?.language}}</strong>
                                        </li> -->
                                        <li>
                                            <label>{{'teacher.explore-lessons.full'|translate}}
                                                {{'student.assigned-lessons.duration'| translate }}:</label>
                                            <strong> {{lessonTime}} minutes</strong>
                                        </li>
                                    </ul>
                                    <div class="moreInfo__secondary">
                                        <div class="moreInfo__secondary__left">
                                            <h6>{{'teacher.explore-lessons.learning-objective'|translate}}</h6>
                                            <ol class="numbers-list">
                                                {{resultLessonInfo?.learningObjectivesForStudent}}
                                            </ol>
                                            <h6>{{'student.assigned-lessons.lesson-steps.summary-view.ingredients'|
                                                translate }}</h6>
                                            <p>{{ingrdients}}</p>

                                            <h6>{{'teacher.explore-lessons.equipments'|translate}}</h6>
                                            <p>{{equipments}}</p>

                                        </div>
                                        <div class="moreInfo__secondary__right">
                                            <h6>{{'school.class.add-class.standards-field'|translate}}</h6>
                                            <p class="underline">{{resultLessonInfo.standards}}</p>
                                        </div>
                                    </div>
                                    <div class="moreInfo__btns">
                                        <app-button classes="btn btn-primary small-btn" (click)="onCancel()"
                                            [submit]="true">
                                            <span aria-hidden="true">{{'common.cancel'| translate}}</span>
                                        </app-button>
                                        <app-button classes="btn btn-black small-btn ml-3"
                                            (click)="openAssignModal(create,itemInfo)" [submit]="true">
                                            <span
                                                aria-hidden="true">{{'teacher.explore-lessons.assign'|translate}}</span>
                                        </app-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="lessonType === 'lessonTopRated' "class="lessonList">
                    <div class="heading-wraper">
                        <h5 class="subtitle">{{'teacher.explore-lessons.top-rated'|translate}}</h5>
                    </div>
                    <div class="row">
                        <div class="main-card col-lg-4 col-sm-6" *ngFor="let item of topRatedList| filter: term; let i = index">
                            <div class="lessonList__item">
                                <div class="lessonList__image">
                                    <img [src]="item.recipe?.recipeImage" alt="" class="img-fluid" />
                                    <div class="grade">
                                        <span class="grade-fix">{{'school.class.add-class.grade-field' | translate |
                                            uppercase}}</span>
                                        <span class="grade-std">{{item.grade.grade}}</span>
                                    </div>
                                </div>
                                <div class="lessonList__info">
                                    <div class="lessonList__info__left">
                                        <h4 class="lessonList__title">{{item.recipe?.recipeTitle}}</h4>
                                        <div class="lessonList__time">
                                            <label>{{'student.assigned-lessons.duration'| translate }}: </label>
                                            <strong
                                                class="lessonList__time"> {{item.lessonTime}} minutes</strong>
                                        </div>
                                    </div>
                                    <div class="lessonList__info__right">
                                        <span class="rating">{{ item.rating }} <fa-icon [icon]="Star"></fa-icon>
                                        </span>
                                        <span class="bookmark" [class.active]="item.bookmark">
                                            <span (click)="bookmarkClass(item)">
                                                <fa-icon [icon]="BookmarkIcon" class="addBookmark"></fa-icon>
                                                <ng-template [ngIf]="item.bookmark">
                                                    <fa-icon [icon]="BookmarkIcon"></fa-icon>
                                                </ng-template>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="lessonList__btns">
                                        <app-button classes="btn btn-primary small-btn" [submit]="true"
                                            (click)="open(create,item)">
                                            <span
                                                aria-hidden="true">{{'teacher.explore-lessons.assign'|translate}}</span>
                                        </app-button>
                                        <a (click)="onInfoClick(item,i)">{{'district.district-schools.info-title' |
                                            translate}} <fa-icon [icon]="RightArrow">
                                            </fa-icon></a>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="showInfo == i+1"
                                [ngClass]="{'lesson-subcard': classApplied, 'lesson-subcard-withoutside':!classApplied }">
                                <div class="moreInfo">
                                    <div class="moreInfo__header">
                                        <h2 class="moreInfo__title">{{resultLessonInfo.recipe?.recipeTitle}}
                                        </h2>
                                        <ul class="moreInfo__tags">
                                            <li>{{resultLessonInfo.recipe.country?.countryName}}</li>
                                            <li>{{lessonTime}}
                                                {{'teacher.assignment.min-label'| translate }}</li>
                                        </ul>
                                    </div>
                                    <ul class="moreInfo__primary">

                                        <li>
                                            <label>{{'school.class.add-class.grade-field' | translate}}: </label>
                                            <strong>{{resultLessonInfo.grade.grade}}</strong>
                                        </li>
                                        <!-- <li>
                                            <label>{{'teacher.explore-lessons.languages'|translate}}:</label>
                                            <strong>{{resultLessonInfo.language?.language}}</strong>
                                        </li> -->
                                        <li>
                                            <label>{{'teacher.explore-lessons.full'|translate}}
                                                {{'student.assigned-lessons.duration'| translate }}:</label>
                                            <strong> {{lessonTime}} minutes</strong>
                                        </li>
                                    </ul>
                                    <div class="moreInfo__secondary">
                                        <div class="moreInfo__secondary__left">
                                            <h6>{{'teacher.explore-lessons.learning-objective'|translate}}</h6>
                                            <ol class="numbers-list">
                                                {{resultLessonInfo?.learningObjectivesForStudent}}
                                            </ol>
                                            <h6>{{'student.assigned-lessons.lesson-steps.summary-view.ingredients'|
                                                translate }}</h6>
                                            <p>{{ingrdients}}</p>

                                            <h6>{{'teacher.explore-lessons.equipments'|translate}}</h6>
                                            <p>{{equipments}}</p>

                                        </div>
                                        <div class="moreInfo__secondary__right">
                                            <h6>{{'school.class.add-class.standards-field'|translate}}</h6>
                                            <p class="underline">{{resultLessonInfo.standards}}</p>
                                        </div>
                                    </div>
                                    <div class="moreInfo__btns">
                                        <app-button classes="btn btn-primary small-btn" (click)="onCancel()"
                                            [submit]="true">
                                            <span aria-hidden="true">{{'common.cancel'| translate}}</span>
                                        </app-button>
                                        <app-button classes="btn btn-black small-btn ml-3"
                                            (click)="open(create,itemInfo)" [submit]="true">
                                            <span
                                                aria-hidden="true">{{'teacher.explore-lessons.assign'|translate}}</span>
                                        </app-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="lessonType === 'lessonStandard' " class="lessonList"
                    [ngClass]="{'': classApplied, 'noSideBar':!classApplied }">
                    <div class="heading-wraper">
                        <h5 class="subtitle">Standards</h5>
                    </div>
                    <div class="row">
                        <div class="main-card col-lg-4 col-sm-6" *ngFor="let item of standardList| filter: term; let i = index">
                            <div class="lessonList__item">
                                <div class="lessonList__image">
                                    <img [src]="item.recipe?.recipeImage" alt="" class="img-fluid" />
                                    <div class="grade">
                                        <span class="grade-fix">{{'school.class.add-class.grade-field' | translate |
                                            uppercase}}</span>
                                        <span class="grade-std">{{item.grade.grade}}</span>
                                    </div>
                                </div>
                                <div class="lessonList__info">
                                    <div class="lessonList__info__left">
                                        <h4 class="lessonList__title">{{item.recipe?.recipeTitle}}</h4>
                                        <div class="lessonList__time">
                                            <label>{{'student.assigned-lessons.duration'| translate }}: </label>
                                            <strong class="lessonList__time"> {{item.recipe?.estimatedMakeTime}} minutes</strong>
                                        </div>
                                    </div>
                                    <div class="lessonList__info__right">
                                        <span class="rating">4.5 <fa-icon [icon]="Star"></fa-icon></span>
                                        <span class="bookmark" [class.active]="item.bookmark">
                                            <span (click)="bookmarkClass(item)">
                                                <fa-icon [icon]="BookmarkIcon" class="addBookmark"></fa-icon>
                                                <ng-template [ngIf]="item.bookmark">
                                                    <fa-icon [icon]="BookmarkIcon"></fa-icon>
                                                </ng-template>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="lessonList__btns">
                                        <app-button classes="btn btn-primary small-btn" [submit]="true"
                                            (click)="open(create,item)">
                                            <span
                                                aria-hidden="true">{{'teacher.explore-lessons.assign'|translate}}</span>
                                        </app-button>
                                        <a (click)="onInfoClick(item,i)">{{'district.district-schools.info-title' |
                                            translate}} <fa-icon [icon]="RightArrow"></fa-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="showInfo == i+1"
                                [ngClass]="{'lesson-subcard': classApplied, 'lesson-subcard-withoutside':!classApplied }">
                                <div class="moreInfo">
                                    <div class="moreInfo__header">
                                        <h2 class="moreInfo__title">{{resultLessonInfo.recipe?.recipeTitle}}</h2>
                                        <ul class="moreInfo__tags">
                                            <li>{{resultLessonInfo.recipe.country?.countryName}}</li>
                                            <li>{{resultLessonInfo.recipe?.estimatedMakeTime}}
                                                {{'teacher.assignment.min-label'| translate }}</li>
                                        </ul>
                                    </div>
                                    <ul class="moreInfo__primary">

                                        <li>
                                            <label>{{'school.class.add-class.grade-field' | translate}}: </label>
                                            <strong>{{resultLessonInfo.grade.grade}}</strong>
                                        </li>
                                        <!-- <li>
                                            <label>{{'teacher.explore-lessons.languages'|translate}}:</label>
                                            <strong>{{resultLessonInfo.language?.language}}</strong>
                                        </li> -->
                                        <li>
                                            <label>{{'teacher.explore-lessons.full'|translate}}
                                                {{'student.assigned-lessons.duration'| translate }}:</label>
                                            <strong> {{resultLessonInfo.recipe?.estimatedMakeTime}} minutes</strong>
                                        </li>
                                    </ul>
                                    <div class="moreInfo__secondary">
                                        <div class="moreInfo__secondary__left">
                                            <h6>{{'teacher.explore-lessons.learning-objective'|translate}}</h6>
                                            <ol class="numbers-list">
                                                {{resultLessonInfo?.learningObjectivesForStudent}}
                                            </ol>
                                            <h6>{{'student.assigned-lessons.lesson-steps.summary-view.ingredients'|
                                                translate }}</h6>
                                            <p>{{ingrdients}}</p>

                                            <h6>{{'teacher.explore-lessons.equipments'|translate}}</h6>
                                            <p>{{equipments}}</p>

                                        </div>
                                        <div class="moreInfo__secondary__right">
                                            <h6>{{'school.class.add-class.standards-field'|translate}}</h6>
                                            <p class="underline">{{resultLessonInfo.standards}}</p>
                                        </div>
                                    </div>
                                    <div class="moreInfo__btns">
                                        <app-button classes="btn btn-primary small-btn" (click)="onCancel()"
                                            [submit]="true">
                                            <span aria-hidden="true">{{'common.cancel'| translate}}</span>
                                        </app-button>
                                        <app-button classes="btn btn-black small-btn ml-3"
                                            (click)="openAssignModal(create,itemInfo)" [submit]="true">
                                            <span
                                                aria-hidden="true">{{'teacher.explore-lessons.assign'|translate}}</span>
                                        </app-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div *ngIf="lessonType === 'lessonStandard' " class="featureSubject">
                    <div class="heading-wraper">
                        <h5 class="subtitle">Featured by standards</h5>
                    </div>
                    <div class="row">
                        <div class="main-card col-lg-4 col-sm-6" *ngFor="let item of standardList| filter: term; let i = index">
                            <div class="featureSubject__image">
                                <img src="{{item.image}}" alt="img-fluid" />
                            </div>
                            <div class="featureSubject__info">
                                <h3 class="recommended__title">{{item.standardTitle}}</h3>
                                 <p class="recommended__lessons">{{item.lessonsLength}} lessons</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>



<!-- Create Class Modal-->
<ng-template #create let-modal>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <img src="./assets/images/close.png" alt="" class="img-fluid" />
    </button>
    <div class="modal-body">
        <div class="assign-lesson-form">
            <h2 class="modal-title">{{'teacher.dashboard.assign-lesson-label'|translate}}</h2>
            <div class="lesson_info">
                <div class="lesson_info__image">
                    <img [src]="lessonInfo.recipe?.recipeImage" alt="" class="img-fluid" />
                </div>
                <div class="lesson_info__content">
                    <div class="lesson_info__content__top">
                        <h6>{{lessonInfo.recipe.recipeTitle}}</h6>
                        <div class="rating-bookmark">
                            <span *ngIf="lessonInfo?.rating" class="rating">{{ lessonInfo?.rating }} <fa-icon [icon]="Star"></fa-icon></span>
                            <span class="bookmark" [class.active]="lessonInfo.bookmark">
                                <span (click)="bookmarkClass(lessonInfo)">
                                    <fa-icon [icon]="BookmarkIcon" class="addBookmark"></fa-icon>
                                    <ng-template [ngIf]="lessonInfo.bookmark">
                                        <fa-icon [icon]="BookmarkIcon"></fa-icon>
                                    </ng-template>
                                </span>
                            </span>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <label>{{'student.assigned-lessons.duration'| translate }}:</label>
                            <strong> {{lessonInfo.lessonTime}} {{'teacher.assignment.min-label'|
                                translate }}</strong>
                        </li>
                        <li>
                            <label>{{'teacher.explore-lessons.grades'|translate}}:</label>
                            <strong> {{lessonInfo.grade?.grade}}</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <form [formGroup]="AssignLesson">
                <div class="row">
                    <div class="col-md-12">
                        <label>{{'teacher.explore-lessons.assignment-title.assignment-title-field'|translate}}
                            (*)</label>
                        <app-input-field classes="form-control" types="text" ids="title" fieldControl="title"
                            [form]="AssignLesson"
                            placeholders="{{'teacher.explore-lessons.assignment-title.placeholder'|translate}}" value=""
                            (change)="validLessonTitle($event)"
                            [ngClass]="{ 'is-invalid': formControl.title.touched && formControl.title.errors }">
                        </app-input-field>
                        <div *ngIf="formControl.title.errors" class="invalid-feedback">
                            <div class="error" *ngIf="formControl.title.errors?.required">
                                {{'teacher.explore-lessons.assignment-title.required'|translate}}</div>
                        </div>
                        <div class="error" *ngIf="formControl.title.errors?.titleValidate">
                            <div class="error">{{'teacher.explore-lessons.assignment-title.valid'|translate}}</div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label>{{'teacher.explore-lessons.assign-to-class'|translate}} (*)</label>
                        <app-drop-down class="formDropdown" [dropDownButtonName]="classTitle" [dropDownIcon]=""
                            fieldControl="class" [dropDownItemList]="classList"
                            (registerDropdownValueChange)="classChange($event)"
                            [ngClass]="{ 'is-invalid': formControl.class.touched && formControl.class.errors }">
                        </app-drop-down>
                        <div *ngIf="formControl.class.errors" class="invalid-feedback">
                            <div class="error" *ngIf="formControl.class.errors?.required">
                                {{'teacher.explore-lessons.assign-to-class-required'|translate}}
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12" *ngIf="showCustomList">
                        <label>{{'teacher.explore-lessons.custom-settings'|translate}}</label>
                        <app-drop-down class="formDropdown" [dropDownButtonName]="settingTitle" [dropDownIcon]=""
                            fieldControl="customSetting" [dropDownItemList]="customList"
                            (registerDropdownValueChange)="settingChange($event)">
                        </app-drop-down>

                    </div>


                    <!-- Date Picker -->
                    <div class="col-md-6 calendar">
                        <label>{{'teacher.explore-lessons.start-date'|translate}}</label>
                        <div class="input-group">
                            <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                                formControlName="fromDate" disabled [value]="formatter.format(fromDate)"
                                (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                            <div class="input-group-append">
                                <button class="calendarIcon" (click)="datepicker.toggle()" type="button">
                                    <fa-icon [icon]="Calendar"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 calendar">
                        <label>{{'student.lesson-report.end-date'| translate }}</label>
                        <div class="input-group">
                            <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                                formControlName="toDate" disabled [value]="formatter.format(toDate)" [(ngModel)]="selectedDate"
                                (input)="toDate = validateInput(toDate, dpToDate.value)">
                            <div class="input-group-append">
                                <button class="calendarIcon" (click)="datepicker.toggle()" type="button">
                                    <fa-icon [icon]="Calendar"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group hidden">
                        <div class="input-group explore-date explore-list-date">
                            <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                                [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                                [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1">
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                </span>
                            </ng-template>
                        </div>
                    </div>
                    <!-- Date Picker -->
                    <div class="col-md-12 mt-5">
                        <div class="info">
                            <span class="info-icon">
                                <fa-icon [icon]="exclamationTriangle" style="font-size: x-large;"></fa-icon>
                            </span>
                            <p>{{'teacher.explore-lessons.class-warning-text'|translate :{ count: 20} }}</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="custom-control custom-checkbox assign-lesson-checkbox mt-3">
                            <input type="checkbox" class="custom-control-input" id="lesson" name="lesson">
                            <label class="custom-control-label"
                                for="lesson">{{'teacher.explore-lessons.assign-the-lesson-confirm-text'|translate
                                }}</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [checked]="advance" id="advance"
                                name="advance" (change)="onDefaultChanged($event)">
                            <label class="custom-control-label"
                                for="advance">{{'teacher.explore-lessons.apply-default-setting'|translate}}</label>
                            <a class="info-circle ml-4">
                                <fa-icon [icon]="infoCircle"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="footer-btns">
                    <app-button classes="btn btn-secondary" [submit]="true" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">{{'common.cancel'| translate}}</span>
                    </app-button>
                    <app-button classes="btn btn-primary" [submit]="true" [disabled]="advance" (click)="AdvanceLink()">
                        <span aria-hidden="true">{{'teacher.explore-lessons.advanced-customization'|translate }}</span>
                    </app-button>
                    <app-button classes="btn btn-primary" [submit]="true" (click)="assignLesson()"
                        [disabled]="!AssignLesson.valid">
                        <span aria-hidden="true">{{'teacher.dashboard.assign-lesson-label'|translate}}</span>
                    </app-button>
                </div>
            </form>
        </div>
    </div>
</ng-template>




