<app-student-nav></app-student-nav>
<div class="assignment-details">
    <div class="container">
        <div class="top-nav">
            <div class="back-button-wrapper">
                <app-button classes="btn small-btn btn-secondary mr-4 icon-btn btn-back" [submit]="true">
                  <span aria-hidden="true">
                    <fa-icon [icon]="LeftArrow"></fa-icon> Back
                  </span>
                </app-button>
            </div>
              <h3>Samuel, Aaron</h3>
        </div>
      <div class="content-wrapper">
        <div class="card-wihtout-header-blue content-card">
            <div class="content-header">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>
                            <span>START AND</span>
                            <span>END DATE</span>
                        </h4>
                        <ul class="date-details">
                            <li>12:54 PM, 10/02/2020</li>
                            <li>12:56 PM, 10/02/2020</li>
                        </ul>
                    </div>
                    <div class="col-sm-4 status">
                        <h4>
                            <span>STATUS +</span>
                            <span>SKILL PROFICIENCY</span>
                        </h4>
                        <div class="status">
                            <p>Completed</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-main">
                <ul class="que-ans">
                    <li class="que-ans-list">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Question</label>
                                <p>Boiling is an example of which 
                                    type of heat energy transfer?</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Answer</label>
                                <p>Convection</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="attempts-wraper">
                                    <div class="attempts">
                                        <label>INCORRECT ATTEMPTS</label>
                                        <p>6</p>
                                    </div>
                                    <div class="attempts">
                                        <label>NUMBER OF ATTEMPTS</label>
                                        <p>7</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="que-ans-list">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Question</label>
                                <p>Which part of  the body can get 
                                    inflamed from a gluten allergy?</p>
                            </div>
                            <div class="col-sm-4">
                                <label>Answer</label>
                                <p>Liver and Kidney can be …</p>
                            </div>
                            <div class="col-sm-4">
                                <div class="attempts-wraper">
                                    <div class="attempts">
                                        <label>CORRECT</label>
                                        <label class="checkmark-container">
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                          </label>
                                    </div>
                                    <div class="attempts">
                                        <label>INCORRECT</label>
                                        <label class="checkmark-container">
                                            <input type="checkbox" >
                                            <span class="checkmark"></span>
                                          </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div>
                                <label>Performed experiments and activities </label>
                            </div>
                            <div>
                                <ul class="activities">
                                    <li>Boiling Experiment</li>
                                    <li>Cooking Steps</li>
                                    <li>Cleaning</li>
                                    <li>Culinary Technique</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        
        </div>
      </div>
    </div>
  </div>

