<app-lessons-headerbar></app-lessons-headerbar>
<div class="story-body-1">
  <app-scroll-down></app-scroll-down>
  <div class="mr-4 linguistic-audio">
    <span *ngIf="lessonData?.goodbyeTrack">
      <audio controls controlsList="nodownload">
        <source [src]="lessonData?.goodbyeTrack" type="audio/mp3">
      </audio>
    </span>
  </div>
  <div class="container">
    <div class="final-editaion linguistic-pop-up">
      <div class="content-wrapper">
        <span class="final-editaion-img-wrapper">
          <img src="./assets/images/final-editaion.png" alt="" class="img-fluid" />

          <div class="left-tooltip-wrapper">
            <div class="speech-tooltip md-tooltip right-bottom-tip">
              <div class="speech-tooltip-inner">
                <p class="message">
                  {{ lessonData?.goodbye }}
                </p>
                <span class="tip">
                  <img src="./assets/images/right-bottom-tip.svg" alt="" class="img-fluid" />
                </span>
              </div>
            </div>
          </div>
          <div class="right-tooltip-wrapper">
            <div class="speech-tooltip sm-tooltip left-bottom-tip">
              <div class="speech-tooltip-inner">
                <p class="message">
                  <ngx-slick-carousel [config]="slideConfig">
                    <ul *ngFor="let obj of linguisticList" ngxSlickItem>
                      <li>
                        <p>{{ obj }}</p>
                      </li>
                    </ul>
                  </ngx-slick-carousel>
                </p>
                <span class="tip">
                  <img src="./assets/images/left-bottom-tip.svg" alt="" class="img-fluid" />
                </span>
              </div>
            </div>
          </div>
        </span>
      </div>
      <div class="content-wrapper">
        <span class="table-img-wrapper">
          <img src="./assets/images/table.png" alt="" class="img-fluid" />
        </span>
      </div>
    </div>
  </div>
</div>
<app-lessons-footer (onNext)="onNext()" (onPrevious)="onPrevious()"></app-lessons-footer>