<div class="user-membership">
  <div class="container">
    <div class="membership-heading-wrapper">
      <h4 class="notification-count">{{'school.membership.label'|translate}}</h4>
      <app-button classes="btn btn-primary icon-btn" *ngIf="isEnabled" (click)="editMembership()">
        <span aria-hidden="true"><fa-icon [icon]="faEdit"></fa-icon>{{'school.edit-membership.label'|translate}}</span>
      </app-button>
    </div>
    <div class="user-membership-wrapper legend-card">
      <div class="row" *ngIf="packageDetails">
        <div class="col-12 membership-sub-heading">
          <h5>{{'school.membership.your-membership-label'|translate}}</h5>
        </div>
        <div class="col-sm-5 col-12 membership-label">
          <label>{{'school.membership.subscription-type-and-users-label'|translate}}</label>
        </div>
        <div class="col-sm-7 col-12 membership-info">
          <p>{{packageDetails.packageTitle}} , {{packageDetails.maxUser}} {{'school.membership.users-label'|translate}}</p>
        </div>
        <div class="col-sm-5 col-12 membership-label">
          <label>{{'school.membership.renew-date-label'|translate}}</label>
        </div>
        <div class="col-sm-7 col-12 membership-info">
          <p>{{validityDate| date: 'MM/dd/yyyy' }}</p>
          <p>${{packageDetails.price}} {{packageDetails.packageTitle}}</p>
        </div>
        
       
      
      
    </div>
    </div>
</div>
</div>
