@import "../../../../../assets/styles/helpers/variables";
@import "../../../../../assets/styles/helpers/mixins";
.password-changed-body{
  display: flex;
  align-items: center;
  min-height: calc(100vh - 9rem);
  padding: 10rem 0rem;
  .content-wrapper{
    .verify-email-card{
      max-width: 50rem;
      padding: 5.5rem;
      width: 95%;
      margin: 0 auto;
      @include breakpoint(mobile){
        padding: 4rem 2.5rem;
      }
      .logo{
        max-width: 8.5rem;
        position: absolute;
        top: -6rem;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      .title{
        text-align: center;
        @include breakpoint(mobile){
          font-size: 2rem;
        }
      }
      .sub-info{
        text-align: center;
        padding: 0rem;
        font-weight: 600;
        font-size: 1.3rem;
      }
    }
    .mail-btn-wrapper{
      display: flex;
      justify-content: center;
    }
  }
}