<div class="password-changed-body">
  <div class="container">
    <div class="content-wrapper">
      <div class="card-wihtout-header-blue verify-email-card">
        <div class="logo">
          <img src="./assets/images/logo.png" class="img-fluid" />
        </div>
        <h3 class="title mb-4">Password Changed</h3>
        <p class="sub-info mb-5">Your password has been changed successfully</p>
        <div class="mail-btn-wrapper">
          <app-button classes="btn btn-primary" [submit]="true">
            <span aria-hidden="true">Go to Dashboard</span>
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
