@import "../../../../../assets/styles/helpers/variables";
@import "../../../../../assets/styles/helpers/mixins";

.science-experiment-body-2{
  background-color: $white;
  .blur-bg{
    background:url("../../../../../assets/images/kitchen-bg-blur.jpg") center no-repeat ,;
    background-size: cover;
    min-height: calc(100vh - 24.2rem);
    display: flex;
    align-items: flex-end;
    @include breakpoint(mobile) {
      min-height: calc(100vh - 33rem);
    }
    .container{
      @include breakpoint(tabs){
        padding: 0;
      }
      .final-editaion{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10rem;
        .content-wrapper{
          flex: 0 0 100%;
          max-width: 100%;
          text-align: center;
          margin-bottom: -7rem;
          .tooltip-wrapper{      
           text-align: center;
           z-index: 9;
           position: relative;
           .speech-tooltip{
            .message{
              h6{
                @include breakpoint(tabs){
                  font-size: 1.6rem;
                }
              }
            }
          }
          }
          .final-editaion-img-wrapper{
            max-width: 33rem;
            position: relative;
            display:inline-block;
            @include breakpoint(mobile){
              max-width: 22rem;
            }
            img{
              transform: rotateY(180deg);
            }
            .left-btn-wrapper{
              position: absolute;
              bottom: 20rem;
              left: -15rem;
              @include breakpoint(tabs){
                bottom: 13rem;
                left: -10rem;
                z-index: 1;
              }
              @include breakpoint(xtrasmallmobile){
                bottom: 8rem;
                left: -2rem;
              }
            }
            .right-btn-wrapper{
              position: absolute;
              bottom: 20rem;
              right: -20rem;
              @include breakpoint(tabs){
                bottom: 13rem;
                right: -8rem;
                z-index: 1;
              }
              @include breakpoint(xtrasmallmobile){
                bottom: 8rem;
                right: -6rem;
              }
            }
          }
        }
      }
    }
  }
}
 

