@import "../../../../../assets/styles/helpers/variables";
@import "../../../../../assets/styles/helpers/mixins";
.add-school{
  padding: 6rem 0rem;
  .add-school-wrapper{
    padding: 0rem 4rem 4rem;
    @include breakpoint(mobile){
      padding: 0rem 1.5rem 4rem;
    }
    legend{
      @include breakpoint(mobile){
        margin-bottom: 0;
      } 
    }
    .add-school-form{
      width: 80%;
      @include breakpoint(mobile){
        width: 100%;
      }
      .department-heading{
        margin-bottom: 1.5rem;
        padding-left: 1.5rem;
      }
      label{
        font-size: 1.4rem;
        color: $light-blue-shade;
        font-weight: 700;
        padding-left: 3rem;
      }
      .lable-wrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a{
          text-decoration: underline;
          font-size: 1.4rem;
          color: $light-blue-shade;
          font-weight: 600;
          padding-left: 3rem;
          margin-bottom: 0.5rem;
        }
      }
    }
    .form-btn-wrapper{
      display: flex;
      justify-content: center;
      margin-top: 4rem;
    }
  }
}