<div class="add-school">
  <div class="container">
    <div class="add-school-wrapper legend-card">
      <legend>{{'district.district-schools.add-schools'|translate}}</legend>
      <form [formGroup]="addSchoolForm" class="add-school-form">
        <div class="row">
          <div class="col-12">
            <h5 class="department-heading">{{'school.school-profile.school-information-label'|translate}}</h5>
          </div>
          <div class="col-12">
            <label>{{'school.school-profile.school-name-label'|translate}}(*)</label>
            <app-input-field classes="form-control schoolForm" placeholders="Enter name" ids="schoolName"
              [form]="addSchoolForm" fieldControl="schoolName" types=""
              [ngClass]="{ 'is-invalid': formControl.schoolName.touched && formControl.schoolName.errors }">
            </app-input-field>
            <div *ngIf="formControl.schoolName.errors" class="invalid-feedback">
              <div class="error" *ngIf="formControl.schoolName.errors?.required">{{'district.school.school-required'|translate}}</div>
              <div class="error" *ngIf="formControl.schoolName.errors?.pattern">{{'district.school.school-valid'|translate}}</div>
              <div class="error" *ngIf="formControl.schoolName.errors?.schoolNameValidate">{{'district.school.school-exist'|translate}}</div>
            </div>
          </div>
          <div class="col-12">
            <label>{{'district.school.representative-label'|translate}} (*)</label>
            <app-input-field classes="form-control schoolForm" placeholders="{{'district.school.representative-placeholder'|translate}}" types=""
              ids="adminAccountName" fieldControl="adminAccountName" [form]="addSchoolForm"
              [ngClass]="{ 'is-invalid': formControl.adminAccountName.touched && formControl.adminAccountName.errors }">
            </app-input-field>
            <div *ngIf="formControl.adminAccountName.errors" class="invalid-feedback">
              <div class="error" *ngIf="formControl.adminAccountName.errors?.required">{{'district.school.representative-name-required'|translate}}
              </div>
              <div class="error" *ngIf="formControl.adminAccountName.errors?.pattern">{{'district.school.representative-name-valid'|translate}}
              </div>
            </div>
          </div>
          <div class="col-12">
            <label>{{'school.school-profile.school-address-label' | translate}}</label>
            <textarea class="form-control schoolForm" placeholder="{{'district.district-profile.district-component.address-field.placeholder'| translate}}" ids="schoolAddress"
              [(ngModel)]="schoolAddress" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="col-md-6">
            <label>{{'district.district-profile.agent-component.phone-field.label'| translate}} (*)</label>
            <app-input-field classes="form-control schoolForm" placeholders="{{'district.district-profile.agent-component.phone-field.placeholder'| translate}}" ids="pNumber"
              fieldControl="pNumber" types="" [form]="addSchoolForm"
              [ngClass]="{ 'is-invalid': formControl.pNumber.touched && formControl.pNumber.errors }">
            </app-input-field>
            <div *ngIf="formControl.pNumber.errors" class="invalid-feedback">
              <div class="error" *ngIf="formControl.pNumber.errors?.required">{{'school.teacher.add-teacher.contact.required'| translate}}</div>
              <div class="error" *ngIf="formControl.pNumber.errors?.pattern">{{'school.teacher.add-teacher.contact.valid'| translate}}</div>
              <div class="error" *ngIf="formControl.pNumber.errors?.minlength">{{'school.teacher.add-teacher.contact.length'| translate}}</div>
              <div class="error" *ngIf="formControl.pNumber.errors?.digitValidate">{{'school.teacher.add-teacher.contact.digit-validate'| translate}}</div>
              <div class="error" *ngIf="formControl.pNumber.errors?.contactValidate">
                <div class="error">{{'school.teacher.add-teacher.contact.exist'| translate}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label>{{'district.district-profile.agent-component.email-field.label'| translate}} (*)</label>
            <app-input-field classes="form-control schoolForm" placeholders="{{'district.district-profile.agent-component.email-field.placeholder'| translate}}" ids="email"
              fieldControl="email" types="" [form]="addSchoolForm"
              [ngClass]="{ 'is-invalid': formControl.email.touched && formControl.email.errors }">
            </app-input-field>
            <div *ngIf="formControl.email.errors" class="invalid-feedback">
              <div class="error" *ngIf="formControl.email.errors?.required">{{'district.district-profile.agent-component.email-field.required'| translate}}</div>
              <div class="error" *ngIf="formControl.email.errors?.pattern">{{'district.district-profile.agent-component.email-field.valid'| translate}}
              </div>
              <div class="error" *ngIf="formControl.email.errors?.emailValidate">{{'district.district-profile.agent-component.email-field.exists'| translate}}</div>
            </div>
          </div>
          <div class="col-12">
            <h5 class="department-heading mt-5">{{'district.school.principal-label'| translate}}</h5>
          </div>
          <div class="col-12">
            <label>{{'district.school.principal-name-label'| translate}} (*)</label>
            <app-input-field classes="form-control schoolForm" placeholders="{{'district.district-profile.agent-component.name-field.placeholder'| translate}}" ids="principalName"
              fieldControl="principalName" types="" [form]="addSchoolForm"
              [ngClass]="{ 'is-invalid': formControl.principalName.touched && formControl.principalName.errors }">
            </app-input-field>
            <div *ngIf="formControl.principalName.errors" class="invalid-feedback">
              <div class="error" *ngIf="formControl.principalName.errors?.required">{{'district.district-schools.school.principal-name-required'| translate}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <label>{{'school.teacher.add-teacher.contact.label' | translate}}</label>
            <app-input-field classes="form-control schoolForm" placeholders="{{'school.teacher.add-teacher.contact.placeholder' | translate}}" ids="phoneNumber"
              fieldControl="phoneNumber" types="" [form]="addSchoolForm"
              [ngClass]="{ 'is-invalid': formControl.phoneNumber.touched && formControl.phoneNumber.errors }">
            </app-input-field>
            <div *ngIf="formControl.phoneNumber.errors" class="invalid-feedback">
              <div class="error" *ngIf="formControl.phoneNumber.errors?.pattern">{{'school.teacher.add-teacher.contact.valid' | translate}}</div>
              <div class="error" *ngIf="formControl.phoneNumber.errors?.minlength">{{'school.teacher.add-teacher.contact.length' | translate}}</div>
                <div class="error" *ngIf="formControl.phoneNumber.errors?.phoneValidate">{{'school.teacher.add-teacher.contact.digit-validate' | translate}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <label>{{'school.student.add-student.personal-info.contact-info.email.label' | translate}}</label>
            <app-input-field classes="form-control schoolForm" placeholders="{{'district.district-profile.agent-component.email-field.placeholder'| translate}}" ids="emailAddress"
              fieldControl="emailAddress" [form]="addSchoolForm" types=""
              [ngClass]="{ 'is-invalid': formControl.emailAddress.touched && formControl.emailAddress.errors }">
            </app-input-field>
            <div *ngIf="formControl.emailAddress.errors" class="invalid-feedback">
              <div class="error" *ngIf="formControl.emailAddress.errors?.pattern">{{'school.student.add-student.personal-info.contact-info.email.valid' | translate}}
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="lable-wrapper">
              <label>{{'school.user-profile.address-title' | translate}}</label>
              <a (click)="sameAddress()">{{'district.school.address-same' | translate}}</a>
            </div>
            <textarea class="form-control schoolForm" placeholder="{{'district.district-profile.district-component.address-field.placeholder'| translate}}" ids="principalAddress"
              [(ngModel)]="principalAddress" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="col-12">
            <label>{{'district.school.emergency-label' | translate}} (*)</label>
            <app-input-field classes="form-control schoolForm" placeholders="{{'district.district-profile.agent-component.phone-field.placeholder'| translate}}" ids="emergencyContact"
              fieldControl="emergencyContact" [form]="addSchoolForm" types=""
              [ngClass]="{ 'is-invalid': formControl.emergencyContact.touched && formControl.emergencyContact.errors }">
            </app-input-field>
            <div *ngIf="formControl.emergencyContact.errors" class="invalid-feedback">
              <div class="error" *ngIf="formControl.emergencyContact.errors?.required">{{'district.school.emergency-required' | translate}}</div>
              <div class="error" *ngIf="formControl.emergencyContact.errors?.pattern">{{'district.school.emergency-valid' | translate}}</div>
              <div class="error" *ngIf="formControl.emergencyContact.errors?.contactDigitValidate">{{'district.school.emergency-digit-valid' | translate}}</div>
              <div class="error" *ngIf="formControl.emergencyContact.errors?.minlength">{{'district.school.emergency-length' | translate}}</div>
            </div>
          </div>
        </div>
      </form>
      <div class="form-btn-wrapper">
        <app-button classes="btn btn-secondary mr-4 btn-form" [submit]="true" (click)="onCancel()">
          <span aria-hidden="true">{{'common.cancel'| translate}}</span>
        </app-button>
        <app-button classes="btn btn-primary btn-form" [submit]="true" [disabled]="addSchoolForm.invalid"
          (click)="onSave()">
          <span aria-hidden="true">{{'common.save'| translate}}</span>
        </app-button>
      </div>
    </div>
  </div>
</div>