<!-- <app-lessons-headerbar [isButtonSection]="isButtonSection"></app-lessons-headerbar> -->
<div class="active-action-body">
  <div class="container">
    <div class="final-editaion">
      <div class="content-wrapper">
        <div class="card-wihtout-header-blue">
            <div class="row">
                <div class="col-md-6">
                    <div class="active-action-wrapper">
                        <p> While preparing we cut a 
                            lemon in half. From the side, 
                            the lemon appeared to be 
                            oval, but when cut in half it 
                            appears circular. At what 
                            angle did we cut the lemon?</p>
                      </div>
                      <div class="chef-hat">
                          <div><img src="./assets/images/cut-lemon.png" class="img-fluid" alt=""></div>
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="options-card">
                        <div class="que-ans">
                            <div class="answer"></div>
                        </div>
                        <div class="option">
                            <div class="card-white">
                              <p>90</p>
                            </div>
                            <div class="card-white">
                              <p>360</p>
                            </div>
                            <div class="card-white">
                              <p>180</p>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        <span class="final-editaion-img-wrapper">
          <img src="./assets/images/final-editaion.png" alt="" class="img-fluid" />
        </span>
      </div>
    </div>
  </div>
</div>



