<div class="start-again-body">
    <div class="container">
      <div class="content-wrapper">
        <div class="card-wihtout-header-blue start-again-card">
          <div class="logo">
            <img src="./assets/images/logo.png" class="img-fluid" />
          </div>
          <h3 class="title">End</h3>
          <div class="start-btn-wrapper">
            <app-button classes="btn btn-primary" [submit]="true">
              <span aria-hidden="true">Start Again</span>
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
