<div class="roster-list">
  <div class="roster-header">
    <div class="container dist_container">
      <div class="roster-header-main">
        <h3 class="school-count">
          {{'district.district-schools.students-title'|translate}}
        </h3>
        <div class="roster-header-button">
          <app-button classes="btn btn-primary icon-btn mr-3 mb-3" [submit]="true" (click)="onImportStudent()">
            <fa-icon [icon]="faImport"></fa-icon>
            <span aria-hidden="true">{{'school.student.student-list.import-student'|translate}}</span>
          </app-button>
          <app-button classes="btn btn-primary icon-btn mr-3 mb-3" [submit]="true" (click)="addStudent()">
            <fa-icon [icon]="PlusIcon"></fa-icon>
            <span aria-hidden="true">{{'school.student.add-student.add-student-label'|translate}}</span>
          </app-button>
        </div>
      </div>
    </div>
  </div>
  <div class="roster-filter">
    <div class="container dist_container">
      <fa-icon [icon]="SearchIcon"></fa-icon>
      <input id="table-filter" class="form-control transparentbg" type="text" placeholder="{{'table-search-filter-container.search'|translate}}" name="term"
        [(ngModel)]="term" />

      <div class="filter-droplist">
        <app-drop-down class="transparentbg" (registerDropdownValueChange)="changeView($event)"
          [dropDownButtonName]="ViewTitle" [dropDownIcon]="ViewIcon" [dropDownItemList]="ViewList"></app-drop-down>
        <app-drop-down class="transparentbg" [dropDownButtonName]="classesListtitle" [dropDownIcon]=""
          (registerDropdownValueChange)="studentFilter($event)" [dropDownItemList]="filterList"></app-drop-down>
          <app-drop-down class="transparentbg" [dropDownButtonName]="SortByGradeTitle" [dropDownIcon]=""
          (registerDropdownValueChange)="gradeFilter($event)" [dropDownItemList]="SortByGradeList"></app-drop-down>

      </div>
    </div>
  </div>
  <div *ngIf="gridview && isLoadUser" class="dist-student-grid">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6" *ngFor="let item of studentList | filter: term">
          <div class="studentItem" (click)="addStudent(item)">
            <div class="studentItem__photo">
              <img src="{{ item.userPhoto }}" />
            </div>
            <div class="studentItem__info_wrapper">
              <h3 class="studentItem__name">{{ item.userName}}</h3>
              <ul class="studentItem__info">
                <li class="studentItem__info__id">
                  <label>{{'district-school.id'|translate}}:</label>
                  <span>{{ item.userId }}</span>
                </li>
              </ul>
              <div class="studentItem__userInfo">
                <ul>
                  <li>
                    <label>{{'school.teacher-list.teacher-email'|translate}} - </label>
                    <a> {{ item.email}}</a>
                  </li>
                  <li>
                    <label>{{'school.teacher-list.teacher-contact'|translate}} - </label>
                    <span> {{ item.contactNumber}}</span>
                  </li>
                  <li>
                    <label>{{'school.teacher-list.teacher-role'|translate}} - </label>
                    <span>{{ item.role}}</span>
                  </li>
                  <li>
                    <label>{{'school.teacher.status'|translate}} - </label>
                    <span> {{ item.status}}</span>
                  </li>
                </ul>
              </div>
              <!-- <ul class="studentItem__action">
                <li>
                  <a>Profile <fa-icon [icon]="rightArrow"></fa-icon></a>
                </li>
                <li>
                  <a>Reports <fa-icon [icon]="rightArrow"></fa-icon></a>
                </li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="listview && isLoadUser">
    <app-tables [term]="term" [dataSource]="studentList" (rowClick)="addStudent($event)" [tableHeaders]="userHeaders"
      [page]="1" [pageSize]="10"></app-tables>
  </div>
</div>