<div class="roster-list">
  <div class="roster-header">
    <div class="container dist_container">
      <div class="roster-header-main">
        <h3 class="school-count">
          {{'school.teacher.teacher-list.teacher-heading' | translate}}
        </h3>
        <div class="roster-header-button">
          <app-button classes="btn btn-primary icon-btn mr-3 mb-3" [submit]="true" (click)="importUser()">
            <fa-icon [icon]="faImport"></fa-icon>
            <span aria-hidden="true">{{'school.teacher.teacher-list.import-teachers' | translate}}</span>
          </app-button>
          <app-button classes="btn btn-primary icon-btn mr-3 mb-3" [submit]="true" (click)="addTeacher()">
            <fa-icon [icon]="PlusIcon"></fa-icon>
            <span aria-hidden="true">{{'school.teacher.teacher-list.add-teacher-label' | translate}}</span>
          </app-button>
        </div>
      </div>
    </div>
  </div>
  <div class="roster-filter">
    <div class="container dist_container">
      <fa-icon [icon]="SearchIcon"></fa-icon>
      <input id="table-filter" class="form-control transparentbg" type="text" placeholder="{{'table-search-filter-container.search'|translate}}" name="term"
        [(ngModel)]="term" />

        <div class="filter-droplist">
          <app-drop-down class="transparentbg" (registerDropdownValueChange)="changeView($event)"
            [dropDownButtonName]="ViewTitle" [dropDownIcon]="ViewIcon" [dropDownItemList]="ViewList"></app-drop-down>
          <app-drop-down class="transparentbg" [dropDownButtonName]="userTitle" [dropDownIcon]=""
            [dropDownItemList]="userList" (registerDropdownValueChange)="teacherFilter($event)"></app-drop-down>
            <app-drop-down class="transparentbg" [dropDownButtonName]="SortByIdTitle" [dropDownIcon]=""
            (registerDropdownValueChange)="teacherIdFilter($event)" [dropDownItemList]="SortByIdList"></app-drop-down>
  
          </div>
    </div>
  </div>
  <div *ngIf="gridview" class="dist-student-grid">
    <ng-container *ngIf="isLoadUser && schoolList && schoolList.length>0; else noData">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6" *ngFor="let item of schoolList | filter: term">
            <div class="studentItem" (click)="editTeacher(item)">
              <div class="studentItem__photo">
                <img src="{{ item.userPhoto }}" class="img-fluid" />
              </div>
              <div class="studentItem__info_wrapper">
                <h3 class="studentItem__name">{{ item.userFirstName}},{{item.userLastName}}</h3>
                <ul class="studentItem__info">
                  <li class="studentItem__info__id">
                    <label>{{'school.teacher.teacher-list.teacher-id' | translate}}:</label>
                    <span>{{ item.userId }}</span>
                  </li>
                </ul>
                <div class="studentItem__userInfo">
                  <ul>
                    <li>
                      <label>{{'school.teacher.teacher-list.teacher-email' | translate}}- </label>
                      <a> {{ item.email}}</a>
                    </li>
                    <li>
                      <label>{{'school.teacher.teacher-list.teacher-contact' | translate}}  - </label>
                      <span> {{ item.contactNumber}}</span>
                    </li>
                    <li>
                      <label>{{'school.teacher.teacher-list.teacher-role' | translate}}  - </label>
                      <span> {{ item.role}}</span>
                    </li>
                    <li>
                      <label>{{'school.teacher.add-teacher.status' | translate}} - </label>
                      <span> {{ item.status}}</span>
                    </li>
                  </ul>
                </div>
                <!-- <ul class="studentItem__action">
                <li>
                  <a>Profile <fa-icon [icon]="rightArrow"></fa-icon></a>
                </li>
                <li>
                  <a>Reports <fa-icon [icon]="rightArrow"></fa-icon></a>
                </li>
              </ul> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noData>
      <h5 style="margin-left: 120px;margin-top: 20px;">{{'school.teacher.teacher-list.records-label' | translate}}.</h5>
    </ng-template>
  </div>
  <div *ngIf="listview && isLoadUser">
    <app-tables [term]="term" [dataSource]="schoolList" (rowClick)="editTeacher($event)" [tableHeaders]="userHeaders"
      [page]="1" [pageSize]="10"></app-tables>
  </div>
</div>