@import "../../../../../../../assets/styles/helpers/variables";
@import "../../../../../../../assets/styles/helpers/mixins";
.story-body-1{
  background:url("../../../../../../../assets/images/kitchen-bg.jpg") center no-repeat;
  // background:center no-repeat;
  background-size: cover;
  min-height: calc(100vh - 10rem);
  position: relative;
  display: flex; 
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: flex-end;
  @include breakpoint(mobile) {
    min-height: calc(100vh - 33rem);
  } 
  .container{
    @include breakpoint(tabs){
      padding: 0;
    }
    .final-editaion {
      margin-bottom: -3rem;
      padding-top: 10rem;
      @include breakpoint(mobile){
        padding-top: 20rem;
      }
      .content-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
        .final-editaion-img-wrapper {
          max-width: 30rem;
          position: relative;
          display: block;
          margin: 0 auto;
          @include breakpoint(tabs) {
            max-width: 21rem;
            margin-bottom: 5rem;
          }
          @include breakpoint(xtrasmallmobile) {
            margin-left: 32%;
          }
          .left-tooltip-wrapper {
            position: absolute;
            top: -4rem;
            left: -34rem;
            @include breakpoint(tabs) {
              top: -5rem;
              left: -30rem;
            }
            @include breakpoint(mobile) {
              top: -19rem;
              left: -6rem;
            }
            .speech-tooltip {
              .speech-tooltip-inner {
                min-width: 35rem;
                @include breakpoint(mobile) {
                  min-width: 26rem;
                }
                .message {
                  overflow: auto;
                  max-height: 7rem;
                  li {
                    h6 {
                      @include breakpoint(mobile) {
                        font-size: 1.3rem;
                      }
                    }
                  }
                }
              }
            }
          }
          .right-tooltip-wrapper {
            position: absolute;
            top: -7rem;
            right: -26rem;
            @include breakpoint(tabs) {
              top: -8rem;
              right: -25rem;
            }
            @include breakpoint(mobile) {
              top: -7rem;
              right: -1rem;
            }
            .speech-tooltip {
              .speech-tooltip-inner {
                min-width: 35rem;
                @include breakpoint(mobile) {
                  min-width: 28rem;
                }
                .message {
                  overflow: unset;
                  li {
                    p {
                      font-size: 1.6rem;
                      font-weight: 700;
                      color: $black;
                      @include breakpoint(tabs) {
                        font-size: 1.3rem;
                        padding: 0.5rem 0;
                      }
                    }
                  }
                }
              }
              .tip{
                @include breakpoint(mobile){
                  left: 19rem;
                }
              }
            }
          }
        }
        .table-img-wrapper {
          max-width: 87rem;
          position: relative;
          display: block;
          margin: 0 auto;
          margin-top: -13rem;
          @include breakpoint(tabs) {
            max-width: 100%;
            overflow: hidden;
            margin-top: -15rem;
          }
          img {
            @include breakpoint(tabs) {
              max-width: 87rem;
            }
          }
        }
      }
    }
  }
}