@import "../../../../assets/styles/helpers/variables";
@import "../../../../assets/styles/helpers/mixins";

.disabled {
   .icon-bg-yellow {
       box-shadow: none;  
       pointer-events: none;
       background-color:$text-muted;
    }
    cursor: not-allowed;
}

.lessons-footer{
    .try-it-btn{
        display: flex;
        justify-content: center;
        transform: translate(0, -6rem);
        position: relative;
        .flask{
            position: absolute;
            background-color: $white;
            width: 6.6rem;
            height: 6.6rem;
            border-radius: 50%;
            top: -2rem;
            right: -2rem;
            border: 0.5rem solid $black;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .observation-btn{
        display: flex;
        justify-content: center;
        transform: translate(0, -6rem);
        .observation-image{
            padding: 0 1rem;
        }
    }
}