@import "../../../../../assets/styles/helpers/variables";
@import "../../../../../assets/styles/helpers/mixins";
.popup-wraper{
    .inquery-details-header{
      .header-wraper{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0, -6rem);
        .bar{
          width: 2rem;
          height: 6rem;
          border-radius: 1rem;
          background-color: $white;
          margin: 0 1rem;
        }
        legend{
            background-color: $secondary;
            padding: 1.5rem 3rem;
            color: $black;
            display: inline-table;
            width: auto;
            border-radius: 3.5rem;
            font-size:1.8rem;
            font-weight: bold;
            margin: 0 2rem;
        }
      }
    }
    .class-details-body{
        .form{
          margin: 0 4rem;
          background-color: $white;
          @include breakpoint(mobile){
            margin: 0;
          }
          .text-controls{
            font-size: 1.8rem;
            font-weight: 700;
            a{
              color: $navy-blue;
              span{
                padding: 0 2rem;
              }
            }
            .text-underline{
              text-decoration: underline;
            }
          }
          textarea{
            border-radius: 0;
            box-shadow: none;
            padding: 1rem;
          }
        }
    }
    .submit-btn-wrapper{
        display: flex;
        justify-content: flex-end;
        transform: translate(0, 4.5rem);
        @include breakpoint(mobile){
          transform: translate(0, 3.5rem);
        }
    }
  }
  .popup-wraper-details{
    .inquery-details-header{
      .header-wraper{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0, -6rem);
        .bar{
          width: 2rem;
          height: 6rem;
          border-radius: 1rem;
          background-color: $white;
          margin: 0 1rem;
        }
        legend{
            background-color: $secondary;
            padding: 1.5rem 3rem;
            color: $black;
            display: inline-table;
            width: auto;
            border-radius: 3.5rem;
            font-size:1.8rem;
            font-weight: bold;
            margin: 0 2rem;
        }
      }
    }
    .class-details-body{
        .form{
          @include breakpoint(mobile){
            margin: 0;
          }
          .search-section{
            margin: 0 4rem;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            background-color: $twilight-blue;
            padding: 0.5rem;
            margin-bottom: 1rem;
            .search-icon{
              font-size: 2rem;
              color: rgba($white, 0.5);
              padding-top: 0.5rem;
            }
            .search-input{
              width: 100%;
              background: transparent;
              color: rgba($white, 0.5);
              font-size: 1.8rem;
              padding: 0 2rem;
            }
            .search-input::placeholder{
              color: rgba($white, 0.5);
              font-size: 1.4rem;
            }
            .calender-icon{
              padding-right: 1rem;
              font-size: 2rem;
            }
          }
          .text-controls{
            max-height: 30rem;
            overflow: auto;
                    /* width */
            &::-webkit-scrollbar {
              width: 2px;
            }
  
            /* Track */
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $light-grey; 
                border-radius: 10px;
            }
  
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $yellow-shade-1; 
                border-radius: 10px;
                height: 1rem;
            }
  
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
            background: $yellow-shade-1; 
            }
            .action-textarea{
              margin: 0 4rem;
              border-radius: 0;
              padding: 2rem;
              background: white;
              color: $navy-blue;
              font-size: 1.9rem;
              font-weight: 700;
              .action-details{
                li{
                  border: none;
                  position: relative;
                  padding: 1rem 0;
                }
                & ::after{
                  content: "";
                  position: absolute;
                  width: calc(100% + 3rem);
                  height: 0.2rem;
                  bottom: 0;
                  left: -27px;
                  background-image: linear-gradient(to right, transparent 75%, $navy-blue 56%);
                  background-size: 3rem;
                }
              }
              .add-date{
                text-align: right;
                color: $border-color;
                font-weight: 700;
                font-size: 1rem;
              }
              .add-text{
                color: $navy-blue;
                font-weight: 700;
                font-size: 1.8rem;
              }
            }
          }
        }
    }
    .submit-btn-wrapper{
        display: flex;
        justify-content: flex-end;
        transform: translate(0, 4.5rem);
        @include breakpoint(mobile){
          transform: translate(0, 3.5rem);
        }
    }
  } 
  ::ng-deep .ck-editor__editable {
    min-height: 25rem !important;
  }