@import "../../../../../../../assets/styles/helpers/variables";
@import "../../../../../../../assets/styles/helpers/mixins";
.serving-body{
  min-height: calc(100vh - 24.2rem);
  position: relative;
  padding-top: 10rem;
  @include breakpoint(mobile) {
    min-height: calc(100vh - 33rem);
  } 
  .container{
    @include breakpoint(tabs){
      padding: 0;
    }
    .final-editaion{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 0rem;
      padding-bottom: 15rem;
      overflow: hidden;
      position: relative;
      @include breakpoint(tabs) {
        padding-top: 0rem;
      }
      @include breakpoint(mobile){
        padding-bottom: 22rem;
      }
      .content-wrapper{
        text-align: center;
        flex: 0 0 100%;
        max-width: 100%;
        .card-wrapper{
          margin: 5rem 0rem;
          @include breakpoint(mobile){
            margin-bottom: 10rem;
            margin-top: 0rem;
          }
          .card-wihtout-header-blue{
            position: relative;
            display: inline-block;
            margin: 0 auto;
            max-width: 45rem;
            text-align: center;
            padding: 3rem;
            @include breakpoint(xtrasmallmobile){
              max-width: 95%;
            }
            .image-wrapper{
              max-width: 44rem;
              @include breakpoint(mobile){   
                max-width: 25rem;
                margin: 0 auto;
              }
            }
            &.water-info{
              float: right;
              margin-right: 5rem;
              max-width: 50rem;
              @include breakpoint(mobile){
                float: unset;
                max-width: 45rem;
                margin-right: 0rem;
              }
              @include breakpoint(xtrasmallmobile){
                max-width: 95%;
              }
              &:before{
                content: "";
                background-image:url('/assets/images/water.png');
                background-size: cover;
                position:absolute;
                bottom: -3rem;
                left: -9rem;
                width: 15rem;
                height: 15rem;
              }
              &:after{
                content: "";
                background-image:url('/assets/images/water.png');
                background-size: cover;
                position:absolute;
                top: -9rem;
                right: -9rem;
                width: 23rem;
                height: 23rem;
                @include breakpoint(mobile){
                  width: 20rem;
                  height: 20rem;
                }
              }
            }
            ul{
              li{
                margin-bottom: 3rem;
                font-weight: 700;
                font-size: 1.4rem;
                h6{
                  line-height: 1.4;
                  @include breakpoint(mobile){
                    font-size: 1.6rem;
                  }
                }
              }
            }
          }
        }
        .final-editaion-img-wrapper{
          max-width: 38rem;
          position: absolute;
          display:block;
          left: 0rem;
          bottom: -18rem;
          @include breakpoint(tabs){
            max-width: 24rem;
            bottom: -8rem;
          }
          @include breakpoint(mobile) {
            right: -7rem;
            max-width: 20rem;
            bottom: -5rem;
          }
        }
        .left-tooltip-wrapper{
          position: absolute;
          bottom: 25rem;
          left: 11rem;
          @include breakpoint(mobile) {
            bottom: 16rem;
            left: 6rem;
          }
          .right-btn-wrapper{
            padding-top: 0.5rem;
          } 
        }
      }
    }
  }
  .fun-activity-btn{
    position: absolute;
    z-index: 9999;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -2rem;
  }
}