@import "../../../../../assets/styles/helpers/variables";
@import "../../../../../assets/styles/helpers/mixins";

.content-settings {
    padding: 5rem 0rem;

    .content-settings-profile-wrapper {
        padding: 0rem 4rem;

        @include breakpoint(mobile) {
            padding: 0rem 2rem;
            width: 100%;
        }

        .settings-instructions {
            width: 80%;
            font-size: 1.4rem;
            line-height: 1.43;
            padding: 0 1rem;
            font-weight: 600;
            margin-bottom: 3.4rem;

            @include breakpoint(tabs) {
                width: 100%;
            }

            @include breakpoint(mobile) {
                padding: 0;
            }
        }

        .content-settings-list {
            padding: 0 1rem;

            @include breakpoint(mobile) {
                padding: 0rem;
            }

            li {
                display: flex;
                align-items: center;
                padding: 3rem 0rem;
                border-bottom: 1px solid $border-color;

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    border-bottom: none;
                }

                @include breakpoint(mobile) {
                    flex-wrap: wrap;
                }

                .settings-details {
                    width: 100%;
                    display: flex;

                    @include breakpoint(mobile) {
                        flex-wrap: wrap;
                    }

                    .title {
                        font-size: 1.7rem;
                        font-weight: 600;
                        line-height: 1.18;
                        padding: 0;
                        width: calc(50% - 10rem);
                        @include breakpoint(mobile) {
                            width: calc(100% - 4rem);
                        }
                    }

                    .toggle-btn {
                        width: 50%;
                        @include breakpoint(mobile) {
                            width: unset;
                        }

                        .switch {
                            width: 5rem;
                            height: 2.3rem;

                            .slider {
                                &::before {
                                    height: 2.3rem;
                                    width: 2.3rem;
                                    top: -3px;
                                }
                            }
                        }
                    }

                    .icon {
                        min-width: 10rem;
                        text-align: center;
                        font-size: 1.5rem;
                        @include breakpoint(mobile) {
                            min-width: 4rem;
                            text-align: right;
                        }
                    }

                    .grade-list {
                        width: 50%;

                        @include breakpoint(mobile) {
                            width: 100%;
                            margin-top: 2rem;
                        }

                        &.locked {
                            opacity: 0.5;
                        }

                        li {
                            display: block;
                            padding: 0;
                            border: none;
                            display: flex;
                            flex-wrap: wrap;
                            .check-wrapper {
                                margin: 0 1rem 1.8rem;
    
                                label {
                                    font-size: 1.6rem;
                                    font-weight: 600;
                                    color: $white;
                                    margin-top: -0.4rem;
                                    word-break: break-all;
                                }
                            }
                        }


                    }
                }


            }
        }
    }
}