@import "../../../../assets/styles/helpers/variables";
@import "../../../../assets/styles/helpers/mixins";
.arrow-wrapper{
  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 100%;
  // position: absolute;
  // top: 0rem;
  // right: 2rem;
  .scroll-down-arrow{
    max-width: 31rem;
    margin-left: auto;
    text-align: center;
    position: relative;
    padding: 1rem;
    right: 2rem;
    cursor: pointer;
    border-radius: 1rem;
    z-index: 1;
    span{
      color: $white;
      font-weight: 600;
      font-size: 1.4rem;
      padding-right: 1rem;
    }
    .icon-bg-yellow{
      padding: 0.5rem;
      img{
        transform: rotate(-90deg);
        margin-left: 0.1rem;
      }
    }
  }
}
