<div class="admin-billing">
  <div class="container">
    <div class="billing-heading-wrapper">
      <h4>{{ 'school.billing.billing-desc' | translate }}</h4>
      <div class="btn-wrapper">
        <app-button classes="btn btn-primary print-icon-btn icon-btn mr-3 mb-3" (click)="generatePDF()" printTitle="Print Title" printSectionId="print-section" ngxPrint>
          <span aria-hidden="true"><span class="print-icon mr-3"><img src="./assets/images/print-icon.png" alt="" class="img-fluid" id="print-section" /></span>Print Report</span>
        </app-button>
        <!-- <app-button classes="btn btn-primary icon-btn mb-3">
          <span aria-hidden="true"> <fa-icon [icon]="faEdit"></fa-icon>{{ 'school.billing.change-payment-method' | translate }} </span>
        </app-button> -->
      </div>
    </div>
    <div class="billing-wrapper legend-card" id="generatePdf">
      <ul>
        <li *ngFor="let item of billingList">
          <p class="date">{{ item.createdAt | date: 'MM/dd/yyyy' }}</p>
          <p class="price">${{ item.subscription_package.price }}</p>
          <p class="status" *ngIf="item.isActive == true">{{ 'school.billing.success' | translate }}</p>
          <p class="status" *ngIf="item.isActive == false">{{ 'school.billing.fail' | translate }}</p>

          <app-button classes="btn btn-primary icon-btn">
            <span aria-hidden="true"> <fa-icon [icon]="faDownload"></fa-icon>{{ 'common.download' | translate }} </span>
          </app-button>
        </li>
      </ul>
    </div>
  </div>
</div>
