@import "../../../../../assets/styles/helpers/variables";
@import "../../../../../assets/styles/helpers/mixins";
.story-body-6 {
  background: url("../../../../../assets/images/kitchen-bg.jpg") center no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: calc(100vh - 24.2rem);
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: flex-end;
  @include breakpoint(mobile) {
    min-height: 100vh;
    align-items: flex-start;
  }
  .final-editaion {
    justify-content: center;
    padding-top: 9rem;
    .content-wrapper {
      .final-editaion-img-wrapper {
        max-width: 42rem;
        position: relative;
        display: block;
        margin: 0 auto;
        margin-bottom: -6rem;
        @include breakpoint(tabs) {
          max-width: 23rem;
          margin-bottom: -3rem;
        }
        @include breakpoint(mobile) {
          bottom: -7rem;
        }
        .final-editaion-img {
          transform: rotateY(180deg);
        }
        .left-tooltip-wrapper {
          position: absolute;
          top: -4rem;
          left: -21rem;
          @include breakpoint(tabs) {
            left: -27rem;
            top: -11rem;
          }
          @include breakpoint(mobile) {
            left: -3rem;
            top: -21rem;
          }
          
        }
        .right-tooltip-wrapper {
          position: absolute;
          top: -4rem;
          right: -31rem;
          @include breakpoint(tabs) {
            right: -31rem;
            top: -6rem;
          }
          @include breakpoint(mobile) {
            right: -4rem;
            top: -4rem;
          }
          .speech-tooltip {
            .speech-tooltip-inner {
              .tip{
                @include breakpoint(mobile){
                  left: 19rem;
                }
              }
            }
          }
        }
        .speech-tooltip {
          .speech-tooltip-inner {
            min-width: 35rem;
            @include breakpoint(mobile) {
              min-width: 29rem;
            }
            .message {
              overflow: unset;
              li {
                p{
                  font-size: 1.6rem;
                  color: $black;
                  font-weight: 700;
                  padding: 0;
                  @include breakpoint(tabs) {
                    font-size: 1.3rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    .kitchen-table {
      position: absolute;
      width: 41rem;
      display: inline-block;
      left: 0;
      bottom: -19rem;
      @include breakpoint(tabs) {
        width: 33rem;
      }
      @include breakpoint(mobile) {
        width: 29rem;
        bottom: -16rem;
      }
      @include breakpoint(sm-mobile) {
        width: 24rem;
        bottom: -23rem;
        left: -3rem;
      }
    }
    .recipe {
      position: absolute;
      width: 15rem;
      height: 15rem;
      display: inline-block;
      left: 13rem;
      bottom: 17rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 100%;
      @include breakpoint(tabs) {
        left: 10rem;
        bottom: 11rem;
      }
      @include breakpoint(mobile) {
        left: 6rem;
        bottom: 10rem;
      }
      @include breakpoint(sm-mobile) {
        width: 12rem;
        height: 12rem;
        left: 3rem;
        /* background: red; */
        bottom: -2rem;
      }
    }
  }
}
