<div class="AddStudent">
  <div class="container">
    <form [formGroup]="AddStudent" class="AddStudent__form schoolForm">
      <fieldset>
        <legend>{{ isEdit ? 'Update':'Add' }} {{'school.student.add-student.student-label' | translate}}</legend>
        <div class="row">
          <div class="col-md-4">
            <label>{{'school.user-profile.school-title' | translate}}</label>
            <app-drop-down fieldControl="school" class="formDropdown" [dropDownButtonName]="SchoolTitle"
              [dropDownIcon]="SchoolIcon" [disableDropDownItem]="classId || schoolId ? true : false"
              [dropDownItemList]="schoolList" (registerDropdownValueChange)="schoolChange($event)"></app-drop-down>
          </div>
          <div class="col-md-4">
            <label>{{'school.class.add-class.grade-field' | translate}}</label>
            <app-drop-down fieldControl="grade" class="formDropdown" [dropDownButtonName]="gradeTitle"
              [dropDownIcon]="gradeIcon" [dropDownItemList]="gradeList" [disableDropDownItem]="classId ? true : false"
              (registerDropdownValueChange)="gradeChange($event)"></app-drop-down>
          </div>
          <div class="col-md-4">
            <label>{{'school.student.add-student.class.student-class' | translate}}</label>
            <app-multi-select-dropdown [dropDownItemList]="classList" [selectedItems]="selectedClass"
              [placeholderText]="'Select class'" name="class" fieldControl="class" [selectedValue]="selectedValue"
              (onSelectValue)="onSelectClass($event)" (onDeSelectValue)="onDeSelectClass($event)"
              (onSelectAllValue)="onSelectAllClass($event)" (onDeselectAllValue)="onDeselectAllClass($event)">
            </app-multi-select-dropdown>
          </div>
        </div>
        <div class="personal-info">
          <h2>{{'school.student.add-student.personal-info.label' | translate}}</h2>
          <div class="row">
            <div class="col-md-6">
              <label>{{'school.teacher.add-teacher.last-name.last-name-field' | translate}} (*)</label>
              <app-input-field classes="form-control" types="text"
                placeholders="{{'school.teacher.add-teacher.first-name.placeholder' | translate}}" ids="lastName"
                fieldControl="lastName" [form]="AddStudent"
                [ngClass]="{ 'is-invalid': formControl.lastName.touched && formControl.lastName.errors }">
              </app-input-field>
              <div *ngIf="formControl.lastName.errors" class="invalid-feedback">
                <div class="error" *ngIf="formControl.lastName.errors?.required">
                  {{'school.teacher.add-teacher.last-name.required' | translate}}</div>
                <div class="error" *ngIf="formControl.lastName.errors?.pattern">Last name is not valid</div>
              </div>
            </div>
            <div class="col-md-6">
              <label>{{'school.teacher.add-teacher.first-name.first-name-field' | translate}} (*)</label>
              <app-input-field classes="form-control" types="text"
                placeholders="{{'school.teacher.add-teacher.first-name.placeholder' | translate}}" ids="firstName"
                fieldControl="firstName" [form]="AddStudent"
                [ngClass]="{ 'is-invalid': formControl.firstName.touched && formControl.firstName.errors }">
              </app-input-field>
              <div *ngIf="formControl.firstName.errors" class="invalid-feedback">
                <div class="error" *ngIf="formControl.firstName.errors?.required">
                  {{'school.teacher.add-teacher.first-name.required' | translate}}</div>
                <div class="error" *ngIf="formControl.firstName.errors?.pattern">
                  {{'school.teacher.add-teacher.first-name.valid' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>{{'school.student.add-student.personal-info.birth-date' | translate}} (*)</label>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control"
                    placeholder="{{'school.student.add-student.personal-info.date' | translate}}" ids="dob" name="dp"
                    fieldControl="dob" (dateSelect)="onDateSelection($event)" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="selectedDate" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="calendarIcon" (click)="d.toggle()" type="button">
                      <fa-icon [icon]="Calendar"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label>{{'district.district-profile.agent-component.gender-field.label'| translate}}</label>
              <app-drop-down fieldControl="gender" class="formDropdown" [dropDownButtonName]="genderTitle"
                [dropDownIcon]="genderIcon" [dropDownItemList]="genderList"
                (registerDropdownValueChange)="genderChange($event)"></app-drop-down>
            </div>
            <div class="col-md-4">
              <label>{{'school.student.add-student.personal-info.ethnicity' | translate}}</label>
              <app-drop-down fieldControl="ethnicity" class="formDropdown" [dropDownButtonName]="ethnicityTitle"
                [dropDownIcon]="ethnicityIcon" [dropDownItemList]="ethnicityList"
                (registerDropdownValueChange)="ethnicityChange($event)"></app-drop-down>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>{{'forgot-Password-component.username-field-label'| translate}} (*)</label>
              <app-input-field classes="form-control" types="text"
                placeholders="{{'school.student.add-student.personal-info.username.placeholder' | translate}}"
                ids="userName" fieldControl="userName" [form]="AddStudent"
                [ngClass]="{ 'is-invalid': formControl.userName.touched && formControl.userName.errors }">
              </app-input-field>
              <div *ngIf="formControl.userName.errors" class="invalid-feedback">
                <div class="error" *ngIf="formControl.userName.errors?.required">
                  {{'school.student.add-student.personal-info.username.required' | translate}}</div>
                <div class="error" *ngIf="formControl.userName.errors?.pattern">
                  {{'school.student.add-student.personal-info.username.valid' | translate}}</div>
                <div class="error" *ngIf="formControl.userName.errors?.userNameValidate">
                  {{'school.student.add-student.personal-info.username.exist' | translate}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="contact-info">
          <h2>{{'school.student.add-student.personal-info.contact-info.label' | translate}}</h2>
          <div class="row">
            <div class="col-md-6">
              <label>{{'school.student.add-student.personal-info.parent-guardian-label' | translate}} (*)</label>
              <app-drop-down fieldControl="guardian" class="formDropdown" [dropDownButtonName]="guardianTitle"
                [dropDownIcon]="guardianIcon" [dropDownItemList]="guardianList"
                (registerDropdownValueChange)="guardianChange($event)"></app-drop-down>
            </div>
            <div class="col-md-6">
              <label>{{'school.student.add-student.personal-info.contact-info.contact-relationship' | translate}}
                (*)</label>
              <app-drop-down fieldControl="relationship" class="formDropdown" [dropDownButtonName]="relationshipTitle"
                [dropDownIcon]="relationshipIcon" [dropDownItemList]="relationshipList"
                (registerDropdownValueChange)="relationshipChange($event)"></app-drop-down>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>{{'school.student.add-student.personal-info.contact-info.contact-name.label' | translate}}
                (*)</label>
              <app-input-field classes="form-control" types="text"
                placeholders="{{'district.district-profile.agent-component.name-field.placeholder'| translate}}"
                ids="contactPersonName" fieldControl="contactPersonName" [form]="AddStudent"
                [ngClass]="{ 'is-invalid': formControl.contactPersonName.touched && formControl.contactPersonName.errors }">
              </app-input-field>
              <div *ngIf="formControl.contactPersonName.errors" class="invalid-feedback">
                <div class="error" *ngIf="formControl.contactPersonName.errors?.required">
                  {{'school.student.add-student.personal-info.contact-info.contact-name.required' | translate}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <label>{{'school.teacher.add-teacher.contact.label' | translate}} (*)</label>
              <app-input-field classes="form-control" types="tel"
                placeholders="{{'school.teacher.add-teacher.contact.placeholder' | translate}}"
                ids="contactPersonNumber" fieldControl="contactPersonNumber" [form]="AddStudent"
                [ngClass]="{ 'is-invalid': formControl.contactPersonNumber.touched && formControl.contactPersonNumber.errors }">
              </app-input-field>
              <div *ngIf="formControl.contactPersonNumber.errors" class="invalid-feedback">
                <div class="error" *ngIf="formControl.contactPersonNumber.errors?.required">
                  {{'school.teacher.add-teacher.contact.required' | translate}}
                </div>
                <div class="error" *ngIf="formControl.contactPersonNumber.errors?.pattern">
                  {{'school.teacher.add-teacher.contact.valid' | translate}}</div>
                <div class="error" *ngIf="formControl.contactPersonNumber.errors?.minlength">
                  {{'school.teacher.add-teacher.contact.length' | translate}}</div>
                <div class="error" *ngIf="formControl.contactPersonNumber.errors?.digitValidate">
                  {{'school.teacher.add-teacher.contact.digit-validate' | translate}}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>{{'school.student.add-student.personal-info.contact-info.email.label' | translate}} (*)</label>
              <app-input-field classes="form-control" types="text"
                placeholders="{{'district.district-profile.agent-component.email-field.placeholder'| translate}}"
                ids="contactPersonEmail" fieldControl="contactPersonEmail" [form]="AddStudent"
                [ngClass]="{ 'is-invalid': formControl.contactPersonEmail.touched && formControl.contactPersonEmail.errors }">
              </app-input-field>
              <div *ngIf="formControl.contactPersonEmail.errors" class="invalid-feedback">
                <div class="error" *ngIf="formControl.contactPersonEmail.errors?.required">
                  {{'school.student.add-student.personal-info.contact-info.email.required' | translate}}
                </div>
                <div class="error" *ngIf="formControl.contactPersonEmail.errors?.pattern">
                  {{'school.student.add-student.personal-info.contact-info.email.valid' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="medical-info">
          <h2>{{'school.student.add-student.personal-info.medical-info.label' | translate}}</h2>
          <div class="row">
            <div class="col-md-12">
              <label>{{'school.student.add-student.personal-info.medical-info.allergens-label.label' | translate}}
                {{'student.profile.optional-label'| translate }}</label>
              <app-multi-select-dropdown [dropDownItemList]="allergensList" [selectedItems]="selectedAllergen"
                [placeholderText]="'Select Allergens'" fieldControl="allergens" [selectedValue]="selectedAllergenValue"
                (onSelectValue)="onSelectAllergens($event)" (onDeSelectValue)="onDeSelectAllergens($event)"
                (onSelectAllValue)="onSelectAllAllergens($event)" (onDeselectAllValue)="onDeselectAllAllergens($event)">
              </app-multi-select-dropdown>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>{{'school.student.add-student.personal-info.medical-info.medical-conditions.label' | translate}}
                {{'student.profile.optional-label'| translate }}</label>
              <app-multi-select-dropdown [dropDownItemList]="conditionList" [selectedItems]="selectedCondition"
                [placeholderText]="'Select condition'" fieldControl="medicalCondition"
                [selectedValue]="selectedConditionValue" (onSelectValue)="onSelectConditions($event)"
                (onDeSelectValue)="onDeSelectConditions($event)" (onSelectAllValue)="onSelectAllConditions($event)"
                (onDeselectAllValue)="onDeselectAllConditions($event)">
              </app-multi-select-dropdown>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="custom-control custom-radio">
              <app-radio [form]="AddStudent" fieldControl="status" classes="custom-control-input" types="radio"
                names="status" values="active"></app-radio>
              <label class="custom-control-label" for="Active">{{'table-search-filter-container.status.active'|
                translate}}</label>
            </div>
            <div class="custom-control custom-radio">
              <app-radio [form]="AddStudent" fieldControl="status" classes="custom-control-input" types="radio"
                names="status" values="inactive"></app-radio>
              <label class="custom-control-label" for="Inactive">{{'table-search-filter-container.status.inactive'|
                translate}}</label>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <app-button classes="btn btn-secondary mr-4" [submit]="true" (click)="onCancel()">
            <span aria-hidden="true">{{'common.cancel'| translate}}</span>
          </app-button>
          <app-button classes="btn btn-primary btn-block" [submit]="true" (click)="addstudents()"
            [disabled]="AddStudent.invalid">
            <span aria-hidden="true">{{ isEdit ? 'Update':'Save'}}</span>
          </app-button>
        </div>
      </fieldset>
    </form>
  </div>
</div>