<div class="user-profile">
  <div class="container">
    <div class="edit-btn-wrapper">
      <app-button classes="btn btn-primary icon-btn" (click)="editProfileDetails(editProfile)">
        <span aria-hidden="true">
          <fa-icon [icon]="faEdit"></fa-icon>{{'district.district-profile.edit-profile-title'| translate}}
        </span>
      </app-button>
    </div>
    <div class="user-profile-wrapper legend-card">
      <legend>{{'district.district-profile.your-profile-title'| translate}}</legend>
      <ul class="user-details">
        <li>
          <div class="profile-heading">
            <span class="profile-image">
              <img src="{{ userDetails?.img }}" alt="" class="img-fluid" />
            </span>
          </div>
          <div class="profile-sub-info">
            <h3 class="mb-0">{{ userDetails?.name}}</h3>
            <p class="pb-4 pt-0">{{ userDetails?.district }}</p>
            <label for="file-upload" class="edit-profile">
              <img src="./assets/images/profile-edit.svg" alt="" class="img-fluid" /> Edit Profile Picture
            </label>
            <input id="file-upload" type="file" accept="image/*" (change)="editProfileImage($event)"
              style="display: none;" />
          </div>
        </li>
        <li>
          <div class="profile-heading">
            <h6>{{'district.district-profile.agent-component.email-field.label'| translate}}</h6>
          </div>
          <div class="profile-sub-info">
            <h6>{{userDetails?.email}}</h6>
          </div>
        </li>
        <li>
          <div class="profile-heading">
            <h6>District</h6>
          </div>
          <div class="profile-sub-info">
            <h6>{{userDetails?.district}}</h6>
          </div>
        </li>
        <li>
          <div class="profile-heading">
            <h6>{{'school.user-profile.address-title' | translate}}</h6>
          </div>
          <div class="profile-sub-info">
            <h6>{{userDetails?.address}}</h6>
          </div>
        </li>
        <li>
          <div class="profile-heading">
            <h6>{{'district.district-profile.agent-component.gender-field.label'| translate}}</h6>
          </div>
          <div class="profile-sub-info">
            <h6>{{userDetails?.gender}}</h6>
          </div>
        </li>
        <li>
          <div class="profile-heading">
            <h6>{{'district.district-profile.agent-component.phone-field.label'| translate}}</h6>
          </div>
          <div class="profile-sub-info">
            <h6>{{userDetails?.phone}}</h6>
          </div>
        </li>
      </ul>
      <div class="change-password-btn-wrapper">
        <app-button classes="btn btn-secondary" (click)="open(changePassword)">
          <span aria-hidden="true">{{'change-password-component.change-password-title'| translate}}</span>
        </app-button>
      </div>
    </div>
  </div>
</div>
<ng-template #editProfile let-modal id="editProfile">
  <button type="button" class="close" aria-label="Close" (click)="closeEditModal()">
    <img src="./assets/images/close.png" alt="" class="img-fluid" />
  </button>
  <div class="modal-body">
    <div class="form-create-class">
      <h2 class="modal-title">{{'school.user-profile.update-profile-label' | translate}}</h2>
      <form [formGroup]="editProfileForm">
        <div class="row">
          <div class="col-md-12">
            <label>{{'district.district-profile.agent-component.name-field.label'| translate}} (*)</label>
            <app-input-field classes="form-control" placeholders="{{'district.district-profile.agent-component.name-field.placeholder'| translate}}" ids="name" fieldControl="name"
              [form]="editProfileForm"
              [ngClass]="{ 'is-invalid': formControl.name.touched && formControl.name.errors }">
            </app-input-field>
            <div *ngIf="formControl.name.errors" class="invalid-feedback">
              <div class="error" *ngIf="formControl.name.errors?.required">{{'district.district-profile.agent-component.name-field.required'| translate}}</div>
            </div>
          </div>
          <div class="col-md-12">
            <label>{{'district.district-profile.agent-component.email-field.label'| translate}} (*)</label>
            <app-input-field classes="form-control" placeholders="{{'district.district-profile.agent-component.email-field.placeholder'| translate}}" ids="emailAddress"
              fieldControl="emailAddress" [form]="editProfileForm"
              [ngClass]="{ 'is-invalid': formControl.emailAddress.touched && formControl.emailAddress.errors }">
            </app-input-field>
            <div *ngIf="formControl.emailAddress.errors" class="invalid-feedback">
              <div class="error" *ngIf="formControl.emailAddress.errors?.required">{{'district.district-profile.agent-component.email-field.required'| translate}}</div>
              <div class="error" *ngIf="formControl.emailAddress.errors?.pattern">{{'district.district-profile.agent-component.email-field.valid'| translate}}
              </div>
              <div class="error" *ngIf="formControl.emailAddress.errors?.emailValidate">{{'district.district-profile.agent-component.email-field.exist'| translate}}</div>
            </div>
          </div>
          <div class="col-md-12">
            <label>{{'school.school-profile.district-label'| translate}} (*)</label>
            <app-input-field classes="form-control" types="text" ids="distName" fieldControl="distName"
              [form]="editProfileForm" placeholders="Enter District"
              [ngClass]="{ 'is-invalid': formControl.distName.touched && formControl.distName.errors }">
            </app-input-field>
            <div *ngIf="formControl.distName.errors" class="invalid-feedback">
              <div class="error" *ngIf="formControl.distName.errors?.required">{{'district.district-profile.district-component.name-field.required'| translate}}</div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="lable-wrapper">
              <label>{{'school.user-profile.address-title'| translate}} {{'student.profile.optional-label'| translate }}</label>
            </div>
            <textarea class="form-control" placeholder="{{'district.district-profile.district-component.address-field.placeholder'| translate}}" ids="address" fieldControl="address"
              [(ngModel)]="address" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="col-md-12">
            <label>{{'district.district-profile.district-component.phone-field.label'| translate}} (*)</label>
            <app-input-field classes="form-control" placeholders="{{'district.district-profile.district-component.phone-field.placeholder'| translate}}" ids="contact"
              fieldControl="contact" [form]="editProfileForm"
              [ngClass]="{ 'is-invalid': formControl.contact.touched && formControl.contact.errors }">
            </app-input-field>
            
            <div *ngIf="formControl.contact.errors" class="invalid-feedback">
              <div class="error" *ngIf="formControl.contact.errors?.required">{{'district.district-profile.agent-component.phone-field.required'| translate}}</div>
              <div class="error" *ngIf="formControl.contact.errors?.pattern">{{'district.district-profile.agent-component.phone-field.pattern'| translate}}</div>
              <!-- <div class="error" *ngIf="formControl.contact.errors?.minlength">{{'district.district-profile.agent-component.phone-field.minlength'| translate}}</div> -->
              <!-- <div class="error" *ngIf="formControl.contact.errors?.digitValidate">{{'school.teacher.add-teacher.contact.digit-validate' | translate}}</div> -->
              <div class="error" *ngIf="formControl.contact.errors?.contactValidate">
                <div class="error">{{'district.district-profile.agent-component.phone-field.validate'| translate}}</div>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-4">
            <label>{{'district.district-profile.agent-component.gender-field.label'| translate}}</label>
            <div class="custom-control custom-radio">
              <app-radio [form]="editProfileForm" fieldControl="gender" classes="custom-control-input" types="radio"
                names="gender" values="Male"></app-radio>
              <label class="custom-control-label" for="Male">{{'district.district-profile.agent-component.gender-field.male-label'| translate}}</label>
            </div>
            <div class="custom-control custom-radio">
              <app-radio [form]="editProfileForm" fieldControl="gender" classes="custom-control-input" types="radio"
                names="gender" values="Female"></app-radio>
              <label class="custom-control-label" for="Female">{{'district.district-profile.agent-component.gender-field.female-label'| translate}}</label>
            </div>
          </div>
        </div>
        <div class="footer-btns">
          <app-button classes="btn btn-secondary mb-3 mr-3" [submit]="true" (click)="closeEditModal()">
            <span aria-hidden="true">{{'common.cancel'| translate}}</span>
          </app-button>
          <app-button classes="btn btn-primary mb-3" [submit]="true" (click)="onUpdateProfile()"
            [disabled]="editProfileForm.invalid">
            <span aria-hidden="true">{{'common.update'| translate}}</span>
          </app-button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<!-- Confirmation popup -->
<ng-template #changePassword let-modal id="changePassword">
  <button type="button" class="close" aria-label="Close" (click)="closeOpenModal()">
    <img src="./assets/images/close.png" alt="" class="img-fluid" />
  </button>
  <div class="modal-body">
    <div class="change-password-class">
      <h2 class="modal-title">{{'change-password-component.change-password-title'| translate}}</h2>
      <h4>{{'change-password-component.change-pass-conf_text'| translate}}?</h4>
      <div class="d-flex justify-content-between">
        <app-button classes="btn btn-secondary mr-4" [submit]="true" (click)="closeOpenModal()">
          <span aria-hidden="true">{{'common.cancel'| translate}}</span>
        </app-button>
        <app-button classes="btn btn-primary btn-block" [submit]="true" (click)="openChangePassModal(password)">
          <span aria-hidden="true">{{'common.submit'| translate}}</span>
        </app-button>
      </div>
    </div>
  </div>
</ng-template>

<!-- Change password popup -->
<ng-template #password let-modal id="password">
  <button type="button" class="close" aria-label="Close" (click)="closeChangePassModal()">
    <img src="./assets/images/close.png" alt="" class="img-fluid" />
  </button>
  <div class="modal-body">
    <div class="form-create-class">
      <h2 class="modal-title">
        {{'change-password-component.change-password-title'| translate}}
      </h2>
      <form [formGroup]="passwordForm">
        <app-input-field classes="form-control mb-4" placeholders="{{'change-password-component.current-pass-field.current-pass-placeholder'| translate}}" ids="current_password"
          types="password" fieldControl="current_password" [form]="passwordForm"
          [ngClass]="{ 'is-invalid': formControls.current_password.touched && formControls.current_password.errors }">
        </app-input-field>
        <div *ngIf="formControls.current_password.errors" class="invalid-feedback">
          <div class="error" *ngIf="formControls.current_password.errors?.required">{{'change-password-component.current-pass-field.current-pass-required'| translate}}</div>
        </div>
        <app-input-field classes="form-control mb-4" placeholders="{{'change-password-component.new-pass-field.new-pass-placeholder'| translate}}" ids="new_password"
          types="password" fieldControl="new_password" [form]="passwordForm"
          [ngClass]="{ 'is-invalid': formControls.new_password.touched && formControls.new_password.errors }">
        </app-input-field>
        <div *ngIf="formControls.new_password.errors" class="invalid-feedback">
          <div class="error" *ngIf="formControls.new_password.errors?.required">{{'change-password-component.new-pass-field.new-pass-required'| translate}}</div>
        </div>
        <app-input-field classes="form-control mb-4" placeholders="{{'change-password-component.confirm-pass-field.confirm-pass-placeholder'| translate}}" ids="confirm_password"
          types="password" fieldControl="confirm_password" [form]="passwordForm"
          [ngClass]="{ 'is-invalid': formControls.confirm_password.touched && formControls.confirm_password.errors }">
        </app-input-field>
        <div *ngIf="formControls.confirm_password.errors" class="invalid-feedback">
          <div class="error" *ngIf="formControls.confirm_password.errors?.required">{{'change-password-component.confirm-pass-field.confirm-pass-required'| translate}}.</div>
          <div class="error" *ngIf="formControls.confirm_password.errors?.confirmPasswordValidator">{{'change-password-component.confirm-pass-field.confirm-pass-match'| translate}}.
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-between">
        <app-button classes="btn btn-secondary mr-4" [submit]="true" (click)="closeChangePassModal()">
          <span aria-hidden="true">{{'common.cancel'| translate}}</span>
        </app-button>
        <app-button classes="btn btn-primary btn-block" [submit]="true" [disabled]="passwordForm.invalid"
          (click)="onUpdatePassword()">
          <span aria-hidden="true">{{'common.submit'| translate}}</span>
        </app-button>
      </div>
    </div>
  </div>
</ng-template>