<div class="discussion-forum">
    <div class="container">
        <div class="discussion-forum-profile-wrapper legend-card">
            <legend>{{'school.discussion-forum.discussion-forum-label'|translate}}</legend>
            <div class="roster-header-button">
                <app-button classes="btn btn-primary icon-btn" [submit]="true" (click)="open(newTopic)">
                  <fa-icon [icon]="PlusIcon"></fa-icon>
                  <span aria-hidden="true">{{'school.discussion-forum.add-new-topic.add-new-topic-label'|translate}}</span>
                </app-button>
              </div>
            <div class="row discussion-list">
                <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let discussion of discussionList">
                    <div class="discussion-item" (click)="DiscussionForumDetail(discussion)">
                        <h5 class="title">{{discussion.topic}}</h5>
                        <p class="description">{{discussion.description}}</p>
                        <ul class="response-details">
                            <li>
                                <span class="count">{{discussion.messages}}</span>
                                <img src="./assets/images/discussion-message.svg" alt="" class="icon">
                            </li>
                            <li>
                                <span class="count">{{discussion.upVote}}</span>
                                <img src="./assets/images/discussion-like.svg" alt="" class="icon">
                            </li>
                            <li>
                                <span class="count">{{discussion.downVote}}</span>
                                <img src="./assets/images/discussion-dislike.svg" alt="" class="icon">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #newTopic let-modal>
    <button type="button" class="close" aria-label="Close" (click)="closeOpenModal()">
      <img src="./assets/images/close.png" alt="" class="img-fluid" />
    </button>
    <div class="modal-body">
      <div class="form-create-class district-modal">
        <h2 class="modal-title"> {{'school.discussion-forum.add-new-topic.add-new-topic-label'|translate}}</h2>
        <form [formGroup]="newTopicForm">
          <div class="row">
            <div class="col-md-12">
              <label>{{'school.discussion-forum.add-new-topic.discussion-topic-label'|translate}} (*)</label>
              <app-input-field classes="form-control" types="text" ids="topic" fieldControl="topic"
                [form]="newTopicForm" placeholders="Enter Discussion topic " [ngClass]="{ 'is-invalid': formControl.topic.touched && formControl.topic.errors }">
              </app-input-field>
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>{{'school.discussion-forum.add-new-topic.description-label'|translate}}</label>
              <textarea  class="form-control schoolForm" placeholder="Enter Description" ids="description" fieldControl="description"
              [(ngModel)]="description" [ngModelOptions]="{standalone: true}" rows="6"></textarea>
            
            </div>
          </div>
          <div class="footer-btns">
            <app-button classes="btn btn-secondary mb-3 mr-3" [submit]="true" (click)="closeOpenModal()">
              <span aria-hidden="true">{{'common.cancel'|translate}}</span>
            </app-button>
            <app-button classes="btn btn-primary mb-3" [submit]="true" [disabled]="newTopicForm.invalid" (click)="onSave()">
              <span aria-hidden="true">{{'common.submit'|translate}}</span>
            </app-button>
          </div>
        </form>
      </div>
    </div>
</ng-template>