<div class="report-an-issue">
    <div class="container">
        <div class="report-heading-wrapper">
            <h4>{{'school.report-issue.report-issue-label'|translate}}</h4>
        </div>
      

        <div class="report-card">
            <textarea rows="4" placeholder="{{'school.report-issue.report-issue-placeholder'|translate}}"  [(ngModel)]="description" ></textarea>
            <form [formGroup]="reportForm" class="report-form">
            <div class="col-12 radio-btn-wrapper">
                <label for="actual-btn">{{'school.report-issue.report-issue-label'|translate}}</label>
                <div class="custom-control custom-radio">
                  <app-radio [form]="reportForm" fieldControl="type" classes="custom-control-input" types="radio"
                    names="type" values="issue"></app-radio>
                  <label class="custom-control-label" for="Active">{{'school.report-issue.issue-label'|translate}}</label>
                </div>
                <div class="custom-control custom-radio">
                  <app-radio [form]="reportForm" fieldControl="type" classes="custom-control-input" types="radio"
                    names="type" values="feedback"></app-radio>
                  <label class="custom-control-label" for="Inactive">{{'school.report-issue.feedback-label'|translate}}</label>
                </div>
             </div>
            <div class="add-attachment">
                <input type="file" fieldControl="attachment" id="actual-btn" (change)="onFileSelected($event)" hidden />
                <label for="actual-btn">
                    <img src="./assets/images/attachment.svg" alt=""><span>{{selectedFile ? 'Replace' : 'Add
                        attachment'}}</span>
                </label>
                <span class="selected-file" *ngIf="selectedFile">{{selectedFile}}</span>
            </div>
        </form>

        </div>
      
        <div class="report-history">
            <a (click)="reportIssueHistory()">{{'school.report-issue.report-history-label'|translate}}</a>
            <app-button classes="btn btn-primary btn-form" [submit]="true" (click)="onSave()">
                <span aria-hidden="true">{{'common.save'|translate}}</span>
            </app-button>
        </div>
    </div>
</div>