$primary: #4066cb;
$secondary: #fed600;
$info: #f8f8f8;
$success: #63bf57;
$alert:#f04649;
$content:#212b36;
$text-muted: #d6d6d6;
$heading-grey:#001243;
$navy-blue:#001243;
$orange:#f4871b;
$sub-heading: #232020;
$border-color:#c1c1c1;
$grey-color:#c2c2c2;
$blue:#0d3dbe;
$twilight-blue:#072b7e;
$blueblue:#1a46c5;
$dark-grey:#001243;
$azure:#22b2f2;
$inputbg:#313579;
$white:#ffffff;
$images-path: "../images" !default;
$font-path: "../fonts" !default;
$icomoon-font-family: "icomoon" !default;
$basefont:'Spartan', sans-serif;
$white: #fff;
$blueBorder:#80a0c9;
$black:#000000;
$light-grey:#676767;
$grey-shade-1: #a0a0a0;
$green-shade-1: #0da41f;
$warm-blue:#4c68e3;
$deleteText: #ee5854;
//$grid-gutter-width: 40px;

$ring-red: #f96d67;
$ring-yellow: #fed900;
$ring-green: #77c14a;
$ring-blue: #1cbce1;

$bar-red:#ffd5d3;
$bar-yellow: #f7f0c4;
$bar-green: #c7e3b6;
$bar-blue: #96ebff;
$bar-graph-line: #bcbaba33;

$light-blue-shade: #a6b7e7;
$light-blue-shade-1 :#bbbcd3;
$yellow-shade-1:#fddc02;
$blue-shade-1: #004093;
$yellow-shade-2:#ffee92;
$dark-border: #707070;
$grey-shade-2: #b1b1b1;
$blue-shade-2:#002894;
$blue-shade-3:#d0d9f2;
$green-shade-2:#22f17c;
$breadcrumb-divider: quote(">");
$yellow-shade-3:#fed100;
$yellow-shade-4:#fedb00;
$yellow-shade-5: #fed200;
$white-transferent:rgba(255, 255, 255, 0.2);
$blue-transferent:rgba($twilight-blue, 0.2);
$light-yellow:#fff3a5;
$transperent-white:rgba(255, 255, 255, 0.5);
$blue-shade-4: #657de9;
$blue-shade-5: #0856bc;
$dark-border2: #bababa;
$light-grey-1: #919191;
$light-grey-2: #797979;
$blue-shade-6: #3b5ba8;
$blue-shade-7: #b4c9f8;
$grey-shade-3: #c9c9c9;
$grey-shade-4: #f0f0f0;
$yellow-shade-6: #fed800;
$yellow-shade-7: #fed500;
$border-color1: #b5b5b5;
$red-shade: #e23333;
$green-shade-3: #70e233;
$yellow-shade-8: #feda00;
$green-shade-4: #4dff55;
$green-shade-5: #1ecb40;
$blue-shade-8: #1b539b;
$blue-shade-9: #a6b8e7;
$blue-shade-10: #0a3eb4;
$red-shade2: #ef3d3f

