<div class="lesson-filter-main">
  <h6 class="filter-title"><fa-icon [icon]="FilterIcon"></fa-icon> {{ 'teacher.explore-lessons.filter-options-label' | translate }}</h6>

  <form [formGroup]="CategoryesForm" *ngIf="!!categoryTypes">
    <app-collaps-select fieldControl="grades" [form]="CategoryesForm" [cat]="categoryTypes['grades']"></app-collaps-select>
    <app-collaps-select
      fieldControl="countries"
      [form]="CategoryesForm"
      [search]="true"
      [cat]="categoryTypes['countries']"
    ></app-collaps-select>
    <app-collaps-select
      fieldControl="culinaryTechniques"
      [form]="CategoryesForm"
      [search]="true"
      [cat]="categoryTypes['culinaryTechniques']"
    ></app-collaps-select>
    <app-collaps-select
      fieldControl="ingredients"
      [form]="CategoryesForm"
      [search]="true"
      [cat]="categoryTypes['ingredients']"
    ></app-collaps-select>
    <app-collaps-select
      fieldControl="cookingDuration"
      [form]="CategoryesForm"
      [search]="true"
      [cat]="categoryTypes['cookingTime']"
    ></app-collaps-select>

    <div class="filter-category">
      <div (click)="toggleStandards()" class="category-item" [attr.aria-expanded]="isStandardsShow">
        {{ categoryTypes['standards'].name }}
        <fa-icon [icon]="dropIcon"></fa-icon>
      </div>
      <div  #collapse="ngbCollapse" [(ngbCollapse)]="!isStandardsShow">
        <div class="mt-5" *ngFor="let option of StandardOptions" >
          <label>{{option.title}}</label>
            <ng-multiselect-dropdown
              [ngClass]="option.dataSelected?.length > 0 ? 'multiselected' : ''"
              [ngModelOptions]="{standalone: true}"
              [placeholder]="'Select Standards'"
              [data]="option.data"
              [(ngModel)]="option.dataSelected"
              [settings]="dropdownSettings"
              (onSelect)="onSelect(option.type)"
              (onSelectAll)="onSelectAll(option.type)"
              (onDeSelect)="onDeSelect(option.type)"
              (onDeSelectAll)="onDeselectAll(option.type)"
            >
            </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <app-collaps-select fieldControl="nutrients" [form]="CategoryesForm" [cat]="categoryTypes['nutrients']"></app-collaps-select>
    <app-collaps-select
      [isRadio]="true"
      fieldControl="seasonal"
      [form]="CategoryesForm"
      [cat]="categoryTypes['seasonal']"
    ></app-collaps-select>
  </form>
</div>
