<!-- <app-student-header></app-student-header> -->
<main class="login">
  <div class="container-fluid">
    <div class="left-login">
      <img src="./assets/images/kids-and-planet.png" class="img-fluid" />
    </div>
    <div class="login-form forgot-password">
      <div class="logo">
        <img src="./assets/images/logo.png" class="img-fluid" />
      </div>
      <h2 class="mt-3">Forgot Password</h2>
      <p class="email-text mt-0 pt-0 mb-3">Enter your email/username to reset the password</p>
      <form [formGroup]="forgotPasswordForm" (submit)="sendResetLink()">
        <app-input-field classes="form-control mb-5" types="email" placeholders="Email Address/Username" ids="email"
          fieldControl="email" [form]="forgotPasswordForm"
          [ngClass]="{ 'is-invalid': formControl.email.touched && formControl.email.errors }"></app-input-field>
          <p class="mb-5 p-0 ml-5">Note: Please enter username (not email address) to access the student account.</p>
        <div *ngIf="formControl.email.errors" class="invalid-feedback">
          <div class="error" *ngIf="formControl.email.errors?.required">Email/Username is required</div>
        </div>
        <app-button classes="btn btn-primary btn-block" [submit]="true" [disabled]="forgotPasswordForm.invalid">
          <span aria-hidden="true">Send Reset Link</span>
        </app-button>
      </form>
    </div>
  </div>
</main>