 <!-- <div *ngIf="showInfo">
                            <div class="moreInfo">
                                <div class="moreInfo__header">
                                    <h2 class="moreInfo__title">{{lessonInfo.title}}</h2>
                                    <ul class="moreInfo__tags">
                                        <li>{{lessonInfo.country}}</li>
                                        <li>{{lessonInfo.type}}</li>
                                        <li>{{lessonInfo.time}}</li>
                                    </ul>
                                </div>
                                <ul class="moreInfo__primary">
                                    <li>
                                        <label>Full Duration:</label>
                                        <strong>{{lessonInfo.duration}}</strong>
                                    </li>
                                    <li>
                                        <label>Grade: </label>
                                        <strong>{{lessonInfo.grade}}</strong>
                                    </li>
                                    <li>
                                        <label>Image:</label>
                                        <strong>{{lessonInfo.image}}</strong>
                                    </li>
                                    <li>
                                        <label>Rating:</label>
                                        <strong>{{lessonInfo.rating}}</strong>
                                    </li>
                                </ul>
                                <div class="moreInfo__secondary">
                                    <div class="moreInfo__secondary__left">
                                        <h6>Learning Objective</h6>
                                        <ol class="numbers-list">
                                            {{lessonInfo.learning_objective}}
                                            
                                        </ol>
                                        <h6>Ingredients</h6>
                                        <p>{{lessonInfo.ingredients}}</p>
                                       
                                        <h6>Equipments</h6>
                                        <p>{{lessonInfo.equipments}}</p>
                                        
                                    </div>
                                    <div class="moreInfo__secondary__right">
                                        <h6>Prerequisite</h6>
                                        <p class="underline">{{lessonInfo.prerequisite}}</p>
                                        <h6>Standards</h6>
                                        <p class="underline">{{lessonInfo.standards}}</p>
                                    </div>
                                </div>
                                <div class="moreInfo__btns">
                                    <app-button classes="btn btn-primary small-btn" [submit]="true">
                                        <span aria-hidden="true" (click)="onCancel()">Cancel</span>
                                    </app-button>
                                    <app-button classes="btn btn-black small-btn ml-3" [submit]="true">
                                        <span aria-hidden="true">Assign</span>
                                    </app-button>
                                </div>
                            </div>
                        </div> 
                     -->