<div class="common-questions">
    <div class="container">
        <div class="common-questions-profile-wrapper legend-card">
            <legend>{{'school.faq.faq-label'|translate}}</legend>
            <div class="roster-filter">
                <div class="container dist_container">
                    <fa-icon [icon]="SearchIcon"></fa-icon>
                    <input id="table-filter" #searchInput class="form-control transparentbg" type="text"
                        placeholder="{{'table-search-filter-container.search'|translate}}" />
                </div>
            </div>
            <ul class="question-list">
                <li *ngFor="let question of faqsList">
                    <a data-toggle="collapse" href=#{{question.id}} class="question collapsed">{{question.title}}</a>
                    <div id={{question.id}} class="collapse description">{{question.description}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>