<div class="verified-email-body">
  <div class="container">
    <div class="content-wrapper">
      <div class="card-wihtout-header-blue verify-email-card">
        <div class="logo">
          <img src="./assets/images/logo.png" class="img-fluid" />
        </div>
        <h1 class="title mt-4 mb-4">Verified</h1>
        <p class="sub-info mb-5">Your account has been verified</p>
        <div class="mail-btn-wrapper">
          <app-button classes="btn btn-primary" [submit]="true">
            <span aria-hidden="true">Go to Dashboard</span>
          </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
