@import "../../../../../assets/styles/helpers/variables";
@import "../../../../../assets/styles/helpers/mixins";

.lesson-subcard{
//    width: 70vw !important;
    width: calc(300% + 6rem) !important;
    @include breakpoint(tabs){
        width: calc(200% + 3.5rem) !important;
    }
    @include breakpoint(sm-mobile){
        width: 100% !important;
    }
}
.lesson-subcard-withoutside{
   // width: 90vw !important;
    width: calc(300% + 6rem) !important;
    @include breakpoint(tabs){
        width: calc(200% + 3.5rem) !important;
    }
    @include breakpoint(sm-mobile){
        width: 100% !important;
    }
}
// .main-card{
//     height: fit-content;
// }
// 

.explore-lessons{
    margin:4rem 0;
    margin-top: 1rem;
    width:100%;
    overflow: hidden;
    .btn-top{
        display: flex;
        justify-content: flex-end;
    }
    .container-fluid{
        @include breakpoint(mobile){
            &.pr-0{
                padding-right:3% !important;
            }
        }
        > .d-flex{
            @include breakpoint(mobile){
                flex-wrap: wrap;
            }
        }
    }
    .left-col{
        width: auto;
        padding:0 1.5rem 0 0;
        @include breakpoint(mobile){
            width:100%;
            padding:0 1.5rem;
        }
    }
    .right-col{
        width: auto;
        // padding:0 0 0 1.5rem;
        @include breakpoint(mobile){
            width:100%;
            padding:0 1.5rem;
        }
        .main-card{
            margin-bottom: 3rem;
            min-width: 32rem;
            @include breakpoint(mobile){
                min-width: 28rem;
            }
        }
    }
    .explore-search{
        background: $twilight-blue;
        padding:1rem 2.5rem;
        display: inline-block;
        margin-top:2.5rem;
        display: flex;
        align-items: center;
        // max-width: 70%;
        @include breakpoint(mobile){
            display: flex;
            align-items: center;
            flex-direction: column;
        }
            .form-control{
                background-color: transparent;
                border: none;
                display: inline-block;
                margin-left:1rem;
                width:50rem;
                padding:0.5rem 1rem;
                margin-bottom: 0;
                @include breakpoint(mobile){
                    width:90%;
                }
            }
        .search-by{
            margin-right: 1rem;
            min-width: 15rem;
        }
    }
    .lessonList{
        margin-top:3rem;
        width: calc((100vw / 4) * 3);
        padding:0 0 0 1.5rem;
        &.noSideBar{
            width:85%;
            margin: auto;
        }
        @include breakpoint(iPad){
            width: calc((100vw / 4) * 3 - 3rem);
        }
        @include breakpoint(mobile){
            width:100%;
            padding:0 1.5rem;
            &.noSideBar{
                width:100%;
            }
        }
        .heading-wraper{
            display: flex;
            justify-content: space-between;
            .subtitle{
                margin-bottom: 1.5rem;
            }
            .more{
                color: $yellow-shade-5;
                text-decoration: underline;
                font-weight: 700;
            }
        }
        &__item{
            background: $primary;
            border:1px solid $border-color;
            border-radius:1.2rem;
        }
        &__image{
            border-radius:1.2rem 1.2rem 0 0;
            overflow: hidden;
            position: relative;
            background: white;
            text-align: center;
            height: 12rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__info{
            padding:2rem;
            display: flex;
            flex-wrap: wrap;
            &__left{
                width:calc(100% - 7rem);
                min-height:8rem;
            }
            &__right{
                width: 7rem;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                .rating{
                    color: $secondary;
                    border:1px solid $secondary;
                    padding:0.2rem 0.5rem;
                    display: flex;
                    align-items:center;
                    font-size: 1rem;
                    margin-right: 1rem;
                    fa-icon{
                        margin-left:0.5rem;
                        display: inline-block;
                        font-size: 0.8rem;
                    }
                }
                .bookmark{
                    color: $secondary;
                    font-size:1.6rem;
                    cursor: pointer;
                    .addBookmark{
                        position: relative;
                        &:after{
                            content: "+";
                            position: absolute;
                            right: -1rem;
                            top: -1rem;
                            font-size: 1.2rem;
                            color: $navy-blue;
                            width: 1.2rem;
                            height: 1.2rem;
                            border-radius: 1.5rem;
                            line-height: 1.6rem;
                            background: $secondary;
                            display: flex;
                            justify-content: center;
                            /* align-items: center; */
                            text-align: center;
                        }
                    }
                    &.active{
                        .addBookmark{
                            display: none;
                        }
                    }
                }
            }
        }
        &__title{
            font-size:1.6rem;
        }
        &__time{
            font-weight: 600;
            color: rgba($white, 0.5);
        }
        &__btns{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            a{
                color: $secondary;
                font-weight: 700;
                fa-icon{
                    margin-left:0.5rem;
                    display: inline-block;
                }
            }
        }
        .topRated{
            margin-top:3rem;
            .explore-landing-header{
                display: flex;
                justify-content: space-between;
                a{
                    font-weight: 700;
                }
            }
            &__main{
                display: flex;
                // align-items: stretch;
                // overflow-x: auto;
                // width:100%;
                @include breakpoint (iPad){
                    flex-wrap: wrap;
                }
            }
            &__item{
                background: $primary;
                border:1px solid $border-color;
                border-radius:1.2rem;
                padding: 2rem;
                width:calc((100% - 2rem) / 3);
                margin-right:1rem;
                display: flex;
                flex-direction: column;
                &:last-child{
                    margin-right: 0;
                }
                @include breakpoint (iPad){
                    width: calc((100% - 1rem) / 2);
                    margin-bottom:2rem;
                    &:nth-child(2n){
                        margin-right: 0;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                @include breakpoint (smallmobile){
                    width:100%;
                    margin-right: 0;
                }
            }
            &__title{
                font-size:1.8rem;   
                width: 80%;
            }
            &__icon{
                margin-left: auto;
                margin-bottom:3rem;
            }
        }
        .suggestedForYou{
            margin-top:3rem;
            .explore-landing-header{
                display: flex;
                justify-content: space-between;
                a{
                    font-weight: 700;
                }
            }
            &__main{
                display: flex;
                // align-items: stretch;
                // overflow-x: auto;
                // width:100%;
                @include breakpoint (iPad){
                    flex-wrap: wrap;
                }
            }
            &__item{
                background: $primary;
                border:1px solid $border-color;
                border-radius:1.2rem;
                padding: 2rem;
                width:calc((100% - 2rem) / 3);
                margin-right:1rem;
                display: flex;
                flex-direction: column;
                &:last-child{
                    margin-right: 0;
                }
                @include breakpoint (iPad){
                    width: calc((100% - 1rem) / 2);
                    margin-bottom:2rem;
                    &:nth-child(2n){
                        margin-right: 0;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                @include breakpoint (smallmobile){
                    width:100%;
                    margin-right: 0;
                }
            }
            &__title{
                font-size:1.8rem;   
                width: 80%;
            }
            &__icon{
                margin-left: auto;
                margin-bottom:3rem;
            }
        }
        .featureSubject{
            margin-top:3rem;
            .explore-landing-header{
                display: flex;
                justify-content: space-between;
                a{
                    font-weight: 700;
                }
            }
            &__main{
                display: flex;
                flex-direction: column;
                border: 0.1rem solid $grey-shade-4;
                border-radius: 2rem;
                margin: 1rem 0;
                // width:100%;
            }
            &__item{
                background: $primary;
                border:1px solid $border-color;
                border-radius:1.2rem;
                flex:0 0 35%;
                margin-right:3rem;
                display: flex;
                flex-direction: column;
                max-width: 30rem;
                &:last-child{
                    margin-right: 0;
                }
            }
            &__info{
                padding: 2rem;
                p{
                    padding: 0;
                    font-weight: bold;
                    color:rgba($white, 0.5);
                    margin-top: 1rem;
                }
            }
            &__title{
                font-size:1.6rem;   
                width: 100%;
                margin-bottom: 0;
                word-wrap: break-word;
                // white-space: nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // display: -webkit-box;
                // -webkit-line-clamp: 3;
                // -webkit-box-orient: vertical;
            }
            &__image{
                overflow: hidden;
                border-radius:1.2rem 1.2rem 0 0;
                max-width: 100%;
                max-height: 13rem;
                img{
                    max-width: 100%;
                }
            }
            .list{
                display: flex;
            }
        }
        .recommended{
            margin-top:3rem;
            .explore-landing-header{
                display: flex;
                justify-content: space-between;
                a{
                    font-weight: 700;
                }
            }
            &__main{
                display: flex;
                // align-items: stretch;
                // overflow-x: auto;
                // width:100%;
                @include breakpoint (iPad){
                    flex-wrap: wrap;
                }
            }
            &__item{
                background: $primary;
                border:1px solid $border-color;
                border-radius:1.2rem;
                width:calc((100% - 2rem) / 3);
                margin-right:1rem;
                display: flex;
                flex-direction: column;
                &:last-child{
                    margin-right: 0;
                }
                @include breakpoint (iPad){
                    width: calc((100% - 1rem) / 2);
                    margin-bottom:2rem;
                    &:nth-child(2n){
                        margin-right: 0;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                @include breakpoint (smallmobile){
                    width:100%;
                    margin-right: 0;
                }
            }
            &__info{
                padding: 2rem;
                p{
                    padding: 0;
                    font-weight: bold;
                    color:rgba($white, 0.5);
                }
            }
            &__title{
                font-size:1.8rem;   
                width: 80%;
                margin-bottom: 0;
                word-break: break-word;
            }
            &__image{
                overflow: hidden;
                border-radius:1.2rem 1.2rem 0 0;
                img{
                    max-width: 100%;
                }
            }
        }
        .slick-slider{margin: 0 -1.5rem;}
        .slick-slide {margin:0 1.5rem;}
    }
    .grade {
        margin:0;
        margin-left: auto;
        width: 5.1rem;
        height:3.2rem;
        background:$secondary;
        position: absolute;
        right:2rem;
        top:3rem;
        padding:0.5rem 0;
        text-align: center;
        color: $navy-blue;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.1rem;
        line-height:1.5rem;
        display: flex;
        flex-direction: column;
        &:before {
          content: "";
          position: absolute;
          top: -1.5rem;
          left: 0;
          width: 0;
          height: 0;
          border-left: 2.5rem solid transparent;
          border-right: 2.6rem solid transparent;
          border-bottom: 1.5rem solid $secondary;
          
        }
        &:after {
          content: "";
          position: absolute;
          bottom: -1.5rem;
          left: 0;
          width: 0;
          height: 0;
          border-left:  2.5rem solid transparent;
          border-right: 2.6rem solid transparent;
          border-top: 1.5rem solid $secondary;
        }
        .grade-fix{
            position: absolute;
            top: -0.2rem;
            left: 0.3rem;
        }
        .grade-std{
            word-wrap: break-word;
            line-height: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-height: 2.7rem;
            z-index: 1;
        }
    }
    .moreInfo{
        background:$secondary;
        margin:2rem 0;
        padding:2rem;
        border-radius: 1.2rem;
        border:1px solid $black;
        //width: calc((100vw / 4 - 1.5rem) * 3); 
        color:$black;
        //position: absolute;
        position: relative;
        z-index: 1;
        &__title{
            font-size:2.4rem;
            margin-bottom: 0;
        }
        p,strong{
            color: $light-grey;
        }
        &__header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__tags{
            display: flex;
            flex-wrap: wrap;
            li{
                background:$black;
                color:$white;
                padding:0.5rem 1rem 0.3rem;
                border-radius:0.5rem;
                margin:0 0.5rem;
                font-size: 1.1rem;
                line-height:1.4rem;
                font-weight: 600;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        &__primary{
            margin-bottom:3rem;
            margin-top:2rem;
            li{
                font-weight: 600;
                margin-bottom:0.5rem;
                color:$black;
                label{
                    font-size:1.5rem;
                }
                strong{
                    font-weight: 600;
                    font-size: 1.2rem;
                }
            }
        }
        &__secondary{
            display: flex;
            flex-wrap: wrap;
            &__left{
                padding-right:2rem;
                border-right:1px solid $light-grey;
                @include breakpoint(mobile){
                    border-right: none;
                    border-bottom:1px solid $light-grey;
                }
            }
            &__left,
            &__right{
                width:50%;
                @include breakpoint(mobile){
                    width:100%;
                }
            }
            &__right{
                padding-left: 2rem;
                @include breakpoint(mobile){
                    margin-top: 2rem;
                    padding-left: 0 ;
                }
            }
            h6{
                font-size:1.5rem;
                margin: 0;
            }
            p, ol{
                font-weight:600;
                padding:0;
                margin:0.5rem 0 2rem 0;
                color:$light-grey;
            }
        }
        &__btns{
            display:flex;
            justify-content: flex-end;
            margin:1rem 0 0 0;
        }
    }
    .lesson-filter{
        overflow: unset;
    }
}


.featureSubject__lessons{
    font-weight: 700;
}

.assign-lesson-form{
    .modal-title{
        text-align: left;
    }
    .lesson_info{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        &__image{
            width:50%;
            border-radius:0 1.2rem 1.2rem 0;
            overflow: hidden;
        }
        &__content{
            width:50%;
            padding-left: 2rem;
            &__top{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                h6{
                    width:calc(100% - 7rem);
                }
                .rating-bookmark{
                    width: 7rem;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    .rating{
                        color: $secondary;
                        border:1px solid $secondary;
                        padding:0.2rem 0.5rem;
                        display: flex;
                        align-items:center;
                        font-size: 1rem;
                        fa-icon{
                            margin-left:0.5rem;
                            display: inline-block;
                            font-size: 0.8rem;
                        }
                    }
                    .bookmark{
                        color: $secondary;
                        font-size:1.6rem;
                        cursor: pointer;
                        .addBookmark{
                            position: relative;
                            &:after{
                                content: "+";
                                position: absolute;
                                right: -1rem;
                                top: -1rem;
                                font-size: 1.2rem;
                                color: $navy-blue;
                                width: 1.2rem;
                                height: 1.2rem;
                                border-radius: 1.5rem;
                                line-height: 1.6rem;
                                background: $secondary;
                                display: flex;
                                justify-content: center;
                                /* align-items: center; */
                                text-align: center;
                            }
                        }
                        &.active{
                            .addBookmark{
                                display: none;
                            }
                        }
                    }
                }
            }
            ul{
                font-weight: 600;
                li{
                    color:rgba($white, 0.5);
                    strong{
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .assign-lesson-checkbox{
        .info-circle{
            fa-icon{
                font-size: 1.8rem;
                color: $secondary;
            }
        }
    }
}



.recipeModel {
    .modal-dialog {
        width: 90% !important;
        max-width: 900px !important;
    }

    .modal-content {
        padding: 0;
        overflow: hidden;
    }
}

.disable-click {
    opacity: .8;
    pointer-events: none;
}