/* You can add global styles to this file, and also import other style files */
@import "assets/styles/chefk.scss";
// .slick-slider {
//     width: 90%;
//     margin: auto;
//     background: #000;
//   }
  
//   .nav-btn {
//     height: 47px;
//     position: absolute;
//     width: 26px;
//     cursor: pointer;
//     top: 100px !important;
//   }
  
//   .prev-slide.slick-disabled,
//   .next-slide.slick-disabled {
//     pointer-events: none;
//     opacity: 0.2;
//   }
  
//   .prev-slide {
//     background: url(assets/images/close.png) no-repeat scroll 0 0;
//     left: -33px;
//   }
  
//   .next-slide {
//     background: url(assets/images/close.png) no-repeat scroll -24px 0px;
//     right: -33px;
//   }
  
//   .prev-slide:hover {
//     background-position: 0px -53px;
//   }
  
//   .next-slide:hover {
//     background-position: -24px -53px;
//   }
 /* You can add global styles to this file, and also import other style files */


 .ngx-dropdown-container .ngx-dropdown-button .display-text {
    display: none !important;
 }


 .ngx-dropdown-container .ngx-dropdown-button {
    margin-left: 80px !important;
    width: 24% !important;
    min-height: 18px !important;
    padding: 0px !important;
    background-color: white !important;
 }

 .ngx-dropdown-container .ngx-dropdown-list-container {
     min-width: 180px;
 }


.btn-disabled {
   cursor: not-allowed;
}

.btn-disabled > * {
   pointer-events: none;
}


////////////// Clever Button Syltes
.controls-clever {
  display: flex;
  justify-content: center;
  width: 100%;
}

.controls-clever--singup {
   margin-bottom: 30px;
}

.hr-line {
  position: relative;;
  height: 1px;
  width: 100%;
  background: #ddd;
  margin: 20px 0;
}

.hr-line--singup {
   margin-top: 0;
}

.hr-line--or {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.hr-line--or:after {
  content: 'OR';
  width: 40px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 50%;
  background-color: #4c68e3; // min
  text-align: center;

  @include breakpoint(tabs){
      background-color: #024093;
  }
}


.btn__clever {
  width: 200px;
  height: 45px;
  cursor: pointer;
  border: 0;
  transition: all 0.4s;
}

.btn__clever--login {
   background: url('./assets/images/clever/button-login-light.png');
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

.btn__clever--login:hover,
.btn__clever--login:active {
   background: url('./assets/images/clever/button-login-dark.png');
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

.btn__clever--signup {
   background: url('./assets/images/clever/button-signup-light.png');
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

.btn__clever--signup:hover,
.btn__clever--signup:active {
   background: url('./assets/images/clever/button-signup-dark.png');
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}
