@import "../../../../../assets/styles/helpers/variables";
@import "../../../../../assets/styles/helpers/mixins";

.student-plan-body{
  padding: 3rem 0rem;
  .content-wrapper{
    display: flex;
    @include breakpoint(mobile){
      flex-wrap: wrap;
    }
    .card-wihtout-header{ 
        max-width: calc(100% - 25rem);
        @include breakpoint(mobile){
          max-width:100%;
          margin-top: 2rem;
        }
      header{
        display: flex;
        align-items: center;
        margin-bottom:2rem;
        .logo{
            max-width:8.8rem;
        }
        .content{
          margin: auto 0;
          margin-left: 2rem;
          h5{
            margin-bottom: 0rem;
          }
          .breadcrumb{
            background-color: transparent;
            margin-bottom: 0rem;
            padding: 1rem 0rem 0rem;
            .breadcrumb-item{
              &::before{
                color: $yellow-shade-3;
                font-size: 1.3rem;
                margin: 0rem 1.2rem;
                font-weight: 600;
                display: flex;
                align-items: center;
              }
              a{
                color: $border-color;
                font-size: 1.6rem;
                font-weight: 600;
              }
              &.active{
                color: $yellow-shade-3;
                font-size: 1.6rem;
                font-weight: 600;
              }
            }
          }
        }
      }
      .slider-wrapper{
        position: relative;
        .plans{
          max-width: 90%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0 auto;
          z-index: 9;
          input{
            opacity: 0;
            width: 15rem;
            height: 3.5rem;
            bottom: 1.5rem;            
            position: absolute;
            left: 0;
            right: 0;
            z-index: 9;
            cursor: pointer;
            margin: 0 auto;
          }
          .option{
            margin: 1rem;
            position: relative;
            text-align: center;
            label{
              .transferent-card{
                background: transparent;
                border:1px solid $border-color;
                border-radius:1.2rem;
                position: relative;
                padding:1rem;
                width: 21rem;
                min-height: 22rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .info-btn-wrapper{
                  .info-btn{
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: 0.5rem;
                    .info-icon{
                      width: 1.8rem;
                      height: 1.8rem;
                    }
                  }
                  .plan-heading{
                    color: $azure;
                    margin-bottom: 0;
                  }
                }
                .monthly-price{
                  font-size: 1.4rem;
                  font-weight: 700;
                }

              }
              .select-btn-wrapper{
                .total-price{
                  font-size: 1.4rem;
                  font-weight: 700;
                  padding-top: 0;
                }
                width: 100%;
              }
            } 
            input[type=radio]{
              opacity: 0;
              &:checked ~ label{
                .transferent-card{
                  background-color: $white-transferent;
                  .info-btn-wrapper{
                    .plan-heading{
                      color: $yellow-shade-4;
                    }
                  }
                }
              }
            }
          }
          .next-btn{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
          .prev-btn{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
        .next-btn-wrapper{
          background: $yellow-shade-5;
          font-size: 1.5rem;
          font-weight: 700;
          width: 3rem ;
          height: 3rem;
          position: absolute;
          border-radius: 50%;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          fa-icon{
            color: $black;
            padding-top: 0.2rem;
          }
        }
        .prev-btn-wrapper{
          background: $yellow-shade-5;
          font-size: 1.5rem;
          font-weight: 700;
          width: 3rem ;
          height: 3rem;
          position: absolute;
          border-radius: 50%;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          fa-icon{
            color: $black;
            padding-top: 0.2rem;
          }
        }
      }
      .agree-signup{
        max-width: 70%;
        text-align: center;
        margin: 0 auto;
        margin-top: 2rem;
        p{
          font-size: 1.2rem;
          padding: 2rem 0;
          font-weight: 700;
        }
      }
      .agree-signup-btn-wrapper{
        text-align: center;
        margin-bottom: 6rem;
      }
    }
  }
}
.membership-header{
  border-bottom: none;
  padding: 2rem 0rem;
  .logo{
    max-width: 8.5rem;
    position: absolute;
    top: -6rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  h4{
    margin: 0 auto;
  }
}
.journal-body{
  p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 2rem 0rem;
  }
  .Total{
    text-align: center;
  }
  .month{
    text-align: center;
    font-weight: 700;
    padding: 1rem 0rem 2rem;
  }
  .close-btn-wrapper{
   text-align: center;
  }
}