@import "../../../../../assets/styles/helpers/variables";
@import "../../../../../assets/styles/helpers/mixins";
.dist-notifications{
  padding: 5rem 0rem;
  .ClassInfo{
    //margin-top:8rem;
    @include breakpoint(mobile){
        padding: 8rem 2rem;
        padding-top: 0rem;
    }
    legend{
        display: inline-table;
        transform: translate(50px, -50%);
        @include breakpoint(mobile){
            transform: translate(0, -50%);
        }
    }
    .section-sub-title{
        color:$secondary;
        max-width:calc(100% - 100px);
        margin: auto;
        margin-bottom:1.5rem;
        margin-top: 2.5rem;
        @include breakpoint(mobile){
            max-width:100%;
        }
    }
    .toggle-list{
        max-width:calc(100% - 100px);
        margin: auto;
        @include breakpoint(mobile){
            max-width:100%;
        }
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom:2.5rem;
            font-size:1.8rem;
            font-weight: bold;
            label{
                width: calc(100% - 6rem);
            }
            .switch{
                width:4.8rem;
            }
            @include breakpoint(mobile){
                font-size: 1.4rem;
            }
        }
    }
}
}
