<!-- <app-lessons-headerbar [isButtonSection]="isButtonSection"></app-lessons-headerbar> -->
<div class="active-action-body">
  <div class="container">
    <div class="final-editaion">
      <div class="content-wrapper">
        <div class="card-wihtout-header-blue">
            <!-- <div class="inquery-details-header">
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                   <span aria-hidden="true">&times;</span> 
                  <img src="./assets/images/close.png" alt="" class="img-fluid" />
                </button>
              </div> -->
          <div class="active-action-wrapper">
            <p> If 1 pint is equal to 2 cups then how 
                many pints is 3/4 cup?</p>
          </div>
          <div class="chef-hat">
              <div class="write-answer">

              </div>
          </div>
          <div class="options">
              <div class="card-white">
                <p>0.27
                    pints</p>
              </div>
              <div class="card-white">
                <p>0.67
                    pints</p>
              </div>
              <div class="card-white">
                <p>0.87
                    pints</p>
              </div>
          </div>
        </div>
        <span class="final-editaion-img-wrapper">
          <img src="./assets/images/final-editaion.png" alt="" class="img-fluid" />
        </span>
      </div>
    </div>
  </div>
</div>


