<div class="first-time-body">
    <div class="container">
      <div class="content-wrapper">
        <div class="card-wihtout-header-blue start-again-card">
          <div class="logo">
            <img src="./assets/images/first-time.png" class="img-fluid" />
          </div>
          <div class="start">
              <h4 class="start-text">Start your<span class="start-highlight"> Chef Koochooloo </span>journey here.</h4>
          </div>
          <div class="creat">
              <p class="creat-text">Create your first class, add students as members, and assign lessons.</p>
          </div>
          <div class="start-btn-wrapper">
            <app-button classes="btn btn-primary" [submit]="true">
              <span aria-hidden="true">Create a Class</span>
            </app-button>
          </div>
        </div>
      </div>
    </div>
  </div>

